@use '../../../init/mixins';

.image-comments {
  max-width: 100%;
  overflow: hidden;
  padding-left: calc(var(--spacing-default) * 4);

  .comments {
    clear: both;
  }

  .comment {
    display: flex;

    + .comment {
      margin-top: var(--spacing-double);
    }

    .avatar {
      margin-right: var(--spacing-default);
      width: 48px;
    }

    .body {
      flex: 1;
      font-size: 0.875rem;
      line-height: 1.3;
      overflow: hidden;

      .where-from {
        color: var(--color-page-text-secondary);
        font-size: 0.825em;
        padding-top: var(--spacing-default);
      }
    }

    .comment-body-text {
      @include mixins.breakword();
    }

    .meta {
      align-items: flex-end;
      display: flex;
      flex-wrap: wrap;
      font-size: 0.825em;
      padding-bottom: var(--spacing-default);

      > * + * {
        margin-left: 0.825em;
      }

      .username,
      .user-name {
        font-size: 0.875rem;
        font-weight: var(--font-weight-bold);
      }

      .pro-badge {
        margin-left: 0.25em;
      }

      .reply-to {
        background-image: svg-load('icons/reply.svg');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 12px 11px;
        display: none;
        padding-left: var(--spacing-half-again);
      }

      .delete {
        background-image: svg-load('icons/delete-comment.svg');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 13px 13px;
        display: none;
        padding-left: var(--spacing-half-again);
      }

      .created-at {
        color: var(--color-page-text-secondary);
      }
    }

    &:hover {
      .meta {
        .reply-to {
          display: inline;
        }

        form {
          display: none;
        }

        .delete {
          display: inline;
        }
      }
    }
  }
}

.image-comment-form {
  margin-top: var(--spacing-triple);
  padding-left: calc(var(--spacing-default) * 4);

  header {
    display: flex;
  }

  .avatar {
    flex: none;
  }

  h3 {
    background-image: svg-load('balloons/comment-quip-left.svg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 48px; // match avatar height
    border-bottom-right-radius: 15px; // magic number looks good with balloon background
    border-top-right-radius: 25px 20px; // magic number looks good with balloon background
    display: block;
    left: calc(var(--spacing-default) * -1);
    position: relative;

    span {
      color: var(--color-text-light-emphasis);
      display: block;
      font-size: 0.75rem;
      font-weight: var(--font-weight-bold);
      height: 48px; // match avatar height
      line-height: 48px; // match avatar height
      padding-left: 35px; // magic number to accomodate balloon stem
      padding-right: var(--spacing-double);
      text-shadow: 0.05em 0.05em 0.05em var(--color-black-transparent-500); // copied from button
      white-space: nowrap;

      @media screen and (min-width: 360px) {
        font-size: 0.875rem;
      }

      @media screen and (min-width: 480px) {
        font-size: 1rem;
      }

      @media screen and (min-width: 820px) {
        font-size: 1.125rem;
      }
    }
  }

  .field {
    clear: both;
    margin: var(--spacing-double) 0;
    text-align: right;
  }

  textarea {
    background-color: var(--color-page-bg);
    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius-default);
    color: var(--color-page-text);
    height: 8em;
    padding: var(--spacing-half);
  }
}
