//
// Area: Search
//
.content-search {
  list-style: none;

  .search-empty-results {
    margin: var(--size-spacing-double);
  }
}

.sidebar-search-block {
  margin-bottom: var(--size-spacing-double);

  .field-help {
    padding-left: 0;
  }
}
