@use '../../compiled/scss/tokens';

.pagination {
	// Add border between self and end of list above.
	border-top: 1px dashed var(--color-border-default);
	font-size: 0.875rem;
	font-weight: var(--number-font-weight-bold);

	a,
	.current {
		padding: 0 var(--size-spacing-half);
	}

	// stylelint-disable selector-no-qualifying-type
	span.next-link,
	span.previous-link {
		color: var(--color-page-text-secondary);
	}

	.previous-link {
		flex-basis: 50%;

		@media screen and (min-width: tokens.$size-breakpoint-md) {
			flex-basis: auto;
			margin-right: auto;
		}
	}

	.next-link {
		flex-basis: 50%;
		text-align: right;

		@media screen and (min-width: tokens.$size-breakpoint-md) {
			flex-basis: auto;
			margin-left: auto;
			order: 1;
		}
	}
}

.pagination-outer {
	background-color: var(--color-bg-secondary-brand-pastel);
	border-radius: var(--size-border-radius-large);
	margin: var(--size-spacing-quadruple);
	padding: var(--size-spacing-default);
}

.pagination-inner {
	align-items: center;
	background-color: var(--color-background-content);
	border-radius: var(--size-border-radius-large);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: var(--size-spacing-default);

	@media screen and (min-width: tokens.$size-breakpoint-md) {
		flex-wrap: none;
	}
}

.linear-navigation {
	// Add border between self and end of list above.
	border-top: 1px dashed var(--color-border-default);
	display: flex;
	padding: var(--size-spacing-triple) var(--size-spacing-half-again);

	// Line up timeline nav buttons with rest of page content.
	@media screen and (min-width: tokens.$size-breakpoint-lg) {
		padding: var(--size-spacing-triple) var(--size-spacing-quadruple);
	}

	// Push older and newer buttons to respective ends of their section on larger
	// screens.
	a.older {
		margin-right: auto;
	}

	a.newer {
		margin-left: auto;
	}
}
