@use '../../../base/core';

.sidebar-flag-nsfw {
  clear: both;
  margin-top: var(--spacing-triple);

  .flag-nsfw-button,
  .unflag-nsfw-button {
    @extend .link--danger;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.75rem;
    text-decoration-line: underline;
  }
}
