<div id="new-post-panel" class="new-post-panel" style="display: block">
	<div class="new-post-panel--inner">
		<div class="start-screen">
			<div class="over-upload-limit">
				<h2>Upload account limit</h2>
				<h3>
					You’ve reached the limit on the number of megs you can upload in a
					month. That limit is 300 megabytes. If you’d like to
					<a href="#">become a Double Scoop member</a>! It’s just $2/month.
				</h3>
			</div>
		</div>
		<div class="link-to-video">
			<h2>Link to a <a id="link-to-video" href="">video</a></h2>
			<div class="shake-selector">
				<input type="hidden" id="video-shake-id" name="shake_id" value="" />
				<h3>
					<a href="" class="selected-shake">
						In
						<span class="green">
							Your Shake
							<span class="caret"></span>
						</span>
					</a>
				</h3>
				<ul style="display: none">
					<li>
						<a id="shake-selector-b-7537" href=""> Your Shake </a>
					</li>
					<li>
						<a id="shake-selector-b-102632" href="">
							Shake for Long Names Like
							Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch
						</a>
					</li>
					<li>
						<a id="shake-selector-b-102661" href=""> Barbarella </a>
					</li>
					<li>
						<a id="shake-selector-b-9174" href=""> dune </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
