<div id="new-post-panel" class="new-post-panel" style="display: block">
	<div class="new-post-panel--inner">
		<div class="content">
			<h2>Is this the video?</h2>
			<iframe
				class="youtube-player"
				type="text/html"
				width="550"
				height="339"
				src="https://www.youtube.com/embed/JwIbSuYHqV8?fs=1&amp;feature=oembed&amp;rnd=0.436822756211"
				frameborder="0"
				id="ytframe"
				allowfullscreen=""
			></iframe>
			<form class="post-video-form">
				<a class="btn btn-primary btn-shadow" href="">Yes! Post it please!</a>
			</form>
		</div>
	</div>
</div>
