<div id="new-post-panel" class="new-post-panel" style="display: block">
	<div class="new-post-panel--inner">
		<div class="start-screen">
			<div class="upload-an-image">
				<form id="upload-image-form">
					<h2>
						Upload an <a href="">image</a
						><input
							name="file"
							type="file"
							id="upload-image-input"
							class="upload-image-input"
						/>
					</h2>
					<div class="shake-selector is-active">
						<h3>
							<a href="" class="selected-shake">
								In
								<span class="green">
									Your Shake
									<span class="caret"></span>
								</span>
							</a>
						</h3>
						<ul style="display: block">
							<li>
								<a href=""> Your Shake </a>
							</li>
							<li>
								<a href="">
									Shake for Long Names Like
									Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch
								</a>
							</li>
							<li>
								<a href=""> Barbarella </a>
							</li>
							<li>
								<a href=""> Dune </a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		</div>
		<div class="link-to-video">
			<h2>Link to a <a id="link-to-video" href="">video</a></h2>
			<div class="shake-selector">
				<h3>
					<a href="" class="selected-shake">
						In
						<span class="green">
							Your Shake
							<span class="caret"></span>
						</span>
					</a>
				</h3>
				<ul>
					<li>
						<a href=""> Your Shake </a>
					</li>
					<li>
						<a href="">
							Shake for Long Names Like
							Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch
						</a>
					</li>
					<li>
						<a href=""> Barbarella </a>
					</li>
					<li>
						<a href=""> dune </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
