<div class="image-comments">
	<div class="comment">
		<div class="avatar">
			<a href="#">
				<img
					class="avatar--img"
					src="https://mltshp-cdn.com/s3/account/417/profile.jpg"
					height="48"
					width="48"
					alt=""
				/>
			</a>
		</div>
		<div class="body">
			<div class="meta">
				<a class="user-name username link--primary" href="#">jessamyn</a>
				<a
					class="pro-badge"
					href="/account/membership"
					title="upgrade your account!"
				>
					<img
						src="https://mltshp-cdn.com/static/images/icon_plus.svg"
						width="12"
						height="12"
						border="0"
						valign="center"
						alt="pro"
					/>
				</a>
				<span class="created-at">
					<time
						datetime="2018-02-09 02:46:28"
						title="Fri, 09 Feb 2018 02:46:28 "
						>2 years ago</time
					>
				</span>
				<a class="reply-to" href="">Reply</a>
				<form class="delete-form"></form>
				<a href="" class="delete link--danger">Delete</a>
			</div>
			<div class="comment-body-text">
				@stereoplex Only mentioning because you mentioned it but the Wikipedia
				version of these (which is from his Reddit AMA and not his original)
				talks about lies of omission being sometimes okay. I think even he had
				trouble with that one.
			</div>
		</div>
	</div>
</div>
