<div class="image-comment-form">
  <form>
    <header>
      <img
        class="avatar avatar--img"
        src="//mltshp-production.s3.amazonaws.com/account/7367/profile.jpg"
        height="48"
        width="48"
        alt=""
      />
      <h3><span>I've got something to say!</span></h3>
    </header>
    <div class="field">
      <textarea name="body"></textarea>
    </div>
    <div class="field">
      <input
        class="btn btn-primary btn-shadow"
        type="submit"
        value="Post it!"
      />
    </div>
  </form>
</div>
