<h4 class="shake-details-title">Add To Shakes</h4>
<div class="in-these-shakes">
  <form>
    <ul>
      <li>
        <input
          type="checkbox"
          class="input-checkbox"
          name="shakes"
          value="102632"
        /><a href="#">Gremlins</a>
      </li>
      <li>
        <input
          type="checkbox"
          class="input-checkbox"
          name="shakes"
          value="9174"
        /><a href="#">Cars</a>
      </li>
    </ul>
    <input
      type="submit"
      class="add-to-shakes-button btn btn-success btn-small"
      value="Add"
    />
  </form>
</div>
