<div class="cool-tools-block">
	<h3>Cool Tools! Cool Tools!</h3>
	<p>
		Save on the web with a right click. Post a camera phone photo through
		Twitter. Sweet!
	</p>
	<ul class="browser-tools">
		<li class="bookmarklet"><a href="#">Bookmarklet</a></li>
		<li class="safari">
			<a href="#">Safari Extension</a>
		</li>
		<li class="firefox">
			<a href="#">Firefox Add-On</a>
		</li>
		<li class="chrome">
			<a href="#">Chrome Extension</a>
		</li>
	</ul>
	<a class="twitter-setup" href="#">Set up your phone for Twitter</a>
</div>
