<div class="other-shakes-wrapper">
	<h3>Patrick Neville’s other shakes</h3>
	<div class="other-shakes">
		<ul>
			<li><a href="#">Doctor Who</a></li>
			<li><a href="#">Parks and Rec</a></li>
			<li><a href="#">Music</a></li>
			<li><a href="#">dune</a></li>
			<li><a href="#">SCIENCE!</a></li>
			<li><a href="#">your animals</a></li>
			<li><a href="#">desktop backgrounds</a></li>
			<li><a href="#">Clouds</a></li>
			<li><a href="#">red velvet</a></li>
			<li><a href="#">phone wallpaper</a></li>
		</ul>
	</div>
</div>
