<ul class="permalink-social">
	<li class="twitter">
		<a target="_blank" href="#"
			><img
				src="https://mltshp-cdn.com/static/images/tweet-this.png?v=50f5a3b925a608a5ec3cd4edb0b81cbb"
				width="21"
				height="21"
				alt="Tweet this"
		/></a>
	</li>
	<li class="facebook">
		<a target="_blank" href="#"
			><img
				src="https://mltshp-cdn.com/static/images/fb_icon.png?v=5c7f31905903363d992342f5361f400f"
				width="21"
				height="21"
				alt="Post to Facebook"
		/></a>
	</li>
	<li class="tumblr">
		<a target="_blank" href="#"
			><img
				src="https://mltshp-cdn.com/static/images/tumblr-flat-t-button-white.svg?v=b14d6d201b7992bea0f0f2b3aa1ffa28"
				width="21"
				height="21"
				alt="Post to Tumblr"
		/></a>
	</li>
</ul>
