{% comment %}
	@see https://til.jakelazaroff.com/css/swap-between-black-and-white-text-based-on-background-color/
{% endcomment %}
<div class="color-swatch" style="--color: {{ color.value }};">
	<span class="color-swatch__name"><code>--{{ color.name }}:</code></span>
	<span class="color-swatch__value"><code>{{ color.value }}</code></span>
	<small class="color-swatch__comment">{{ color.comment }}</small>
</div>
