<div class="styleguide-color-swatch" style="--color: {{ color.value }};">
	<span class="styleguide-color-swatch__name"><code>--{{ color.name }}:</code></span>
	<span class="styleguide-color-swatch__value"><code>{{ color.value }}</code></span>
	{% if color.comment %}<small class="styleguide-color-swatch__comment">{{ color.comment }}</small>{% endif %}
</div>
