// note that these styles are combined with developerdocs.css on the main site
.api-accept,
.api-decline {
  float: left;
  margin-right: var(--size-spacing-triple);
  padding-bottom: var(--size-spacing-triple);
}

.content-developer {
  padding: var(--size-spacing-half-again);

  @media screen and (min-width: 768px) {
    padding: var(--size-spacing-quadruple);
  }

  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: var(--size-spacing-half-again);
    margin-top: var(--size-spacing-half-again);
  }

  p {
    line-height: 1.4;
    margin-bottom: var(--size-spacing-default);
    margin-top: var(--size-spacing-default);
  }

  dt {
    big {
      color: var(--color-page-text-secondary);
      font-size: normal;
    }

    em {
      color: var(--color-page-text-secondary);
    }
  }
}
