<div class="page">
	<div class="wrapper">
		<header class="site-header">
			<div class="site-branding">
				<a href="#"
					><img
						class="site-branding--logo"
						src="https://mltshp-cdn.com/static/images/logo-compact.svg"
						alt="MLTSHP"
				/></a>
			</div>
			<nav class="site-nav">
				<button
					type="button"
					class="site-nav--toggle btn btn-warning btn-pastel btn-icon"
				>
					☰
				</button>
				<ul class="site-nav--list">
					<li class="site-nav--item site-nav--popular">
						<a class="btn btn-warning btn-pastel" href="#">Popular</a>
					</li>
					<li class="site-nav--item site-nav--signup">
						<a class="btn btn-primary btn-shadow" href="#">Sign Up!</a>
					</li>
				</ul>
			</nav>
			<nav class="user-nav">
				<ul class="user-nav--list">
					<li class="user-nav--item">
						<a href="#" class="user-nav--link">sign in</a>
					</li>
				</ul>
			</nav>
		</header>
	</div>
</div>
