@use '../../../base/core';
@use '../../../init/mixins';

.user-follow {
  display: flex;

  .icon {
    flex: none;
    margin-right: var(--spacing-default);
  }

  h4 {
    @include mixins.breakword();
    font-size: 0.875rem;
    margin-bottom: var(--spacing-half);
  }

  h4 a {
    @extend .link--primary;
    padding-bottom: var(--spacing-half);
  }

  .follow {
    flex: 1;
  }
}

// Extended Modifier
.user-follow-extended {
  display: block;
  margin: var(--spacing-double) var(--spacing-half);

  .icon {
    float: left;
    margin-right: var(--spacing-default);
  }

  .details {
    padding-bottom: var(--spacing-default);
  }

  h4 a {
    font-size: 1.125rem;
  }

  .about {
    @include mixins.breakword();
    display: block;
    font-size: 0.875rem;
    line-height: 1.3;
    margin-bottom: var(--spacing-default);
    white-space: pre-wrap;
  }

  .website a {
    @extend .link--primary;
    @include mixins.breakword();
    font-size: 0.8rem;
    font-weight: inherit;
  }

  // TODO: refactor away from float layout so we can remove the clearfix
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}
