<div class="fun-form">
  <form>
    <div class="field">
      <label>Username:</label>
      <div class="field-input">
        <input class="input-text" type="text" name="name" />
        <div class="error">
          <span class="error-text">
            Here's what an error looks like!
          </span>
        </div>
      </div>
      <div class="field-help">
        30 characters or fewer. Letters, digits, underscores or dashes only.
      </div>
    </div>
    <div class="field field-submit">
      <input
        class="btn btn-primary btn-shadow btn-large"
        type="submit"
        value="Create It!"
      />
    </div>
  </form>
</div>
