@use '../../base/links';
@use '../../init/mixins';
@use '../../components/page-header/page-header';

//
// Area: Tools - Find Shakes
//
.content-find-shakes {
	.header {
		@include page-header.page-header;
	}

	.body {
		padding: var(--size-spacing-double);
	}

	.good-folk-block {
		background-color: var(--color-bg-success-pastel);
		border-radius: var(--size-border-radius-large);
		padding: var(--size-spacing-half-again);

		h3 {
			color: var(--color-status-success-pastel-dark);
			font-size: 1.125rem;
			padding-left: var(--size-spacing-half);
		}
	}

	.good-folk-block-content {
		background-color: var(--color-background-content);
		border-radius: var(--size-border-radius-large);
		color: var(--color-page-text);
		margin-top: var(--size-spacing-default);
		padding: var(--size-spacing-double);

		p {
			font-size: 0.875rem;
			margin-top: 0;
		}

		.user-follow {
			margin-top: var(--size-spacing-double);
		}
	}

	.find-shakes-navigation {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			background: var(--color-background-content-secondary);
			flex: 1;
			font-size: 1.125rem;

			a {
				display: block;
				font-weight: var(--number-font-weight-bold);
				padding: var(--size-spacing-double) var(--size-spacing-half);
				text-align: center;
				text-decoration: none;
			}
		}

		.selected a {
			background-color: var(--color-background-content);
			color: var(--color-page-text);
		}
	}

	.featured-shakes {
		margin-bottom: var(--size-spacing-double);

		h3 {
			font-size: 1.125rem;
			margin: var(--size-spacing-double) var(--size-spacing-default);
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			border: 1px solid var(--color-border-default);
			box-shadow: 1px 2px 1px var(--color-base-black-transparent-100);
			margin-bottom: var(--size-spacing-default);
			margin-right: var(--size-spacing-default);
			padding: var(--size-spacing-default);
			width: calc(170px + var(--size-spacing-default) * 2 + 2px);

			img {
				height: 170px;
				width: 170px;
			}

			h4 {
				font-size: 1.125rem;
				line-height: 1.2;
				margin: var(--size-spacing-default) 0 0;

				a {
					@include links.link-primary;
					@include links.link-emphasized;
				}
			}

			p {
				@include mixins.clamp(3);
				font-size: 0.75rem;
				margin: var(--size-spacing-default) 0 0;
			}
		}
	}

	.shake-category {
		border-bottom: 1px dashed var(--color-border-default);
		clear: both;

		.category-title {
			font-size: 1.125rem;

			a {
				display: block;
				padding: var(--size-spacing-half-again) var(--size-spacing-default);
				text-decoration: none;
			}
		}

		.shake-category-body {
			display: none;
			padding: 0 var(--size-spacing-default);
		}

		&.shake-category-selected {
			.category-title a {
				color: var(--color-page-text-secondary);
			}

			.shake-category-body {
				display: block;
			}
		}
	}

	.shake-tips {
		background: var(--color-background-content-secondary);
		clear: both;
		color: var(--color-page-text);
		font-size: 0.75rem;
		margin: var(--size-spacing-triple) 0;
		padding: var(--size-spacing-half-again);
	}

	.friend + .friend {
		border-top: 1px dashed var(--color-border-default);
	}

	.user-follow-extended {
		.website a {
			color: var(--color-text-link);

			&:hover,
			&:focus,
			&:active {
				color: var(--color-text-link-hover);
			}
		}
	}

	.body .loading {
		color: var(--color-page-text-secondary);
		font-size: 1.125rem;
		margin: var(--size-spacing-quadruple) auto;
		text-align: center;

		img {
			margin-right: var(--size-spacing-double);
			position: relative;
			top: var(--size-spacing-double);
		}
	}

	.message {
		color: var(--color-page-text-secondary);
		font-size: 1.125rem;
		margin: var(--size-spacing-quadruple) var(--size-spacing-triple);
		text-align: center;
	}

	.intro {
		border-bottom: 1px solid var(--color-border-default);
		font-size: 0.875rem;
		padding: var(--size-spacing-double) var(--size-spacing-half);
	}

	.refresh-friends {
		margin: var(--size-spacing-triple) 0;
	}
}
