<div class="image-medium">
  <div class="image-medium-thumb">
    <a href="#"
      ><img
        src="https://mltshp-cdn.com/r/1QE6J?width=100"
        height="67"
        width="100"
        alt=""
        style="height: auto; max-height: 184px; max-width: 240px"
    /></a>
  </div>
  <div class="user-and-title">
    <a href="#" title="spaceninja">
      <img
        class="avatar--img"
        src="//mltshp-production.s3.amazonaws.com/account/7367/profile.jpg"
        width="20"
        height="20"
      />
    </a>
    <div class="title">Don't Quit</div>
  </div>
  <ul class="stats">
    <li class="views">52 views</li>
    <li class="saves">0</li>
    <li class="likes">5</li>
    <li class="comments">
      <a href="#">1</a>
    </li>
  </ul>
</div>
