@use '../../../base/links';

.choose-a-shake {
  position: relative;
  text-align: left;
  z-index: 3;
}

.choose-a-shake--toggle {
  width: 100%;

  .choose-a-shake.is-expanded & {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: var(--size-spacing-half) var(--size-spacing-half) 0
      var(--color-base-black-transparent-100);
    outline: none;

    &:hover,
    &:focus {
      background: var(--color-status-success-pastel-light);
      color: var(--color-status-success-pastel-dark);
    }

    .caret {
      transform: rotate(180deg);
    }
  }
}

.choose-a-shake--dropdown {
  background-color: var(--color-status-success-pastel-light);
  border-radius: var(--size-border-radius-large);
  border-top-right-radius: 0;
  box-shadow: var(--size-spacing-half) var(--size-spacing-half) 0
    var(--color-base-black-transparent-100);
  display: none;
  max-width: 400px;
  padding: var(--size-spacing-default);
  padding-top: 1px;
  position: absolute;
  right: 0;
  top: calc(100% - 0.22em);

  @media screen and (min-width: 768px) {
    border-top-left-radius: 0;
    border-top-right-radius: var(--size-border-radius-large);
    left: 0;
    right: auto;
  }

  .choose-a-shake.is-expanded & {
    display: block;
  }

  .add-a-shake {
    display: block;
    float: right;
    margin-top: var(--size-spacing-default);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li a {
      @include links.link--primary();
      @include links.link--emphasized();
      background-color: var(--color-background-content);
      border-radius: var(--size-border-radius-large);
      display: block;
      font-size: 0.875rem;
      overflow: hidden;
      padding: var(--size-spacing-default) var(--size-spacing-half-again);
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover,
      &:focus,
      &:active {
        background-color: var(--color-status-highlight);
      }
    }

    // stylelint-disable selector-no-qualifying-type
    &.top-shakes {
      li a {
        margin: var(--size-spacing-default) 0;
      }
    }

    &.group-shakes {
      background-color: var(--color-background-content);
      border-radius: var(--size-border-radius-large);
    }
  }
}
