@use '../../../base/links';
@use '../../../init/mixins';

.post__description {
	color: var(--color-page-text);
	overflow: hidden;

	@include mixins.breakword;

	a {
		@include links.link-primary;
	}
}

.post__description--blank {
	color: var(--color-status-disabled);
	font-style: italic;
}

.post__description--editable:hover,
.post__description--editable:focus {
	background-color: var(--color-status-edit);
}

.post__description-editor {
	display: none;

	textarea {
		background-color: var(--color-background-content);
		border: 1px solid var(--color-border-default);
		border-radius: var(--size-border-radius-default);
		color: var(--color-page-text);
		min-height: 100px;
		padding: var(--size-spacing-half);
	}

	.buttons {
		display: flex;
		gap: var(--size-spacing-half);
	}

	.or {
		color: var(--color-page-text-secondary);
	}
}

.post__description--editing {
	// Hide the description ...
	display: none;

	// ... and display the editor.
	+ .post__description-editor {
		display: flex;
		flex-direction: column;
		gap: var(--size-spacing-default);
		margin-bottom: var(--size-spacing-triple);
	}
}
