.post__originally-by {
	.avatar--link {
		display: inline-block;
		text-decoration: none;
		vertical-align: middle;
	}

	.avatar--img {
		height: var(--size-avatar-tiny);
		width: var(--size-avatar-tiny);
	}
}

.post__footer {
	color: var(--color-page-text-secondary);
	display: flex;
	flex-direction: column;

	.image-meta-interactions {
		display: flex;

		// 1. Wrap interactions above inline meta on narrow screens
		// 2. Leave a gap between interactions and inline-meta when wrapped
		flex-wrap: wrap-reverse; // 1
		row-gap: var(--size-spacing-half); // 2
	}

	.save-this-shake-selector {
		font-size: 0.75rem;
	}

	.created-at {
		padding-top: var(--size-spacing-half);

		a {
			color: var(--color-page-text-secondary);
			text-decoration: none;

			&:hover,
			&:focus {
				color: var(--color-page-text);
				text-decoration: underline;
			}
		}
	}
}
