@use '../../../compiled/scss/tokens';
@use '../../../init/mixins';
@use '../../buttons/buttons';

.post__title {
	max-width: 100%;
	position: relative;

	.image-poster {
		float: left;
		padding-right: var(--size-spacing-default);

		a {
			display: block;
		}
	}

	h1,
	h3 {
		@include mixins.breakword;
	}

	h1 {
		font-size: 3rem;
	}

	h3 {
		font-size: 1.875rem;
	}

	.remove-from-shake {
		float: right;
		height: 21px;
		width: 21px;
	}

	&--editable:hover,
	&--editable:focus {
		background-color: var(--color-status-edit);
	}
}

.post__title-editor {
	display: none;
	flex-direction: column;

	@media screen and (min-width: tokens.$size-breakpoint-md) {
		flex-direction: row;
	}

	&.is-active {
		display: flex;
	}

	.title-input {
		background-color: var(--color-background-content);
		border: 1px solid var(--color-border-default);
		border-radius: var(--size-border-radius-default);
		color: var(--color-page-text);
		flex: 1;
		font-size: 1.875rem;
		font-weight: var(--number-font-weight-bold);
		margin-bottom: var(--size-spacing-default);
		max-width: 100%;
		min-width: 250px;
		padding: 0.0666em;

		@media screen and (min-width: tokens.$size-breakpoint-md) {
			margin-bottom: 0;
		}
	}

	.buttons {
		align-items: center;
		display: flex;
		gap: var(--size-spacing-half);
	}

	.or {
		color: var(--color-page-text-secondary);
	}
}

.post__title--editing {
	// Hide the title ...
	display: none;

	// ... and display the editor.
	+ .post__title-editor {
		display: flex;
		gap: var(--size-spacing-default);
	}
}
