@use '../../../base/links';
@use '../../../init/mixins';

.post__alt-text {
	background: var(--color-background-content-secondary);
	color: var(--color-page-text-secondary);
	font-size: 0.875rem;
	overflow: hidden;
	padding: var(--size-spacing-default) var(--size-spacing-half-again);

	@include mixins.breakword;

	&:focus {
		box-shadow: none;
	}

	&.alt-text--blank .alt-text-toggle,
	&.alt-text--editing .alt-text-toggle {
		display: none;
	}

	&.alt-text--hidden .the-alt-text,
	&.alt-text--editing .the-alt-text {
		display: none;
	}
}

// Inline Editing Alt Text
.post__alt-text--editable:hover,
.post__alt-text--editable:focus {
	background-color: var(--color-status-edit);
}

.post__alt-text--blank {
	color: var(--color-status-disabled);
	font-style: italic;
}

.post__alt-text-toggle {
	cursor: pointer;
}

.post__alt-text-editor {
	display: none;

	.alt-text-learn {
		margin: 0;
	}

	textarea {
		background-color: var(--color-background-content);
		border: 1px solid var(--color-border-default);
		border-radius: var(--size-border-radius-default);
		color: var(--color-page-text);
		min-height: 100px;
		padding: var(--size-spacing-half);
	}

	.buttons {
		display: flex;
		gap: var(--size-spacing-half);
	}

	.or {
		color: var(--color-page-text-secondary);
	}
}

.post__alt-text--editing .post__alt-text-editor {
	// Show the editor if we are edit-ing.
	display: block;
}

.post__alt-text--editing {
	// Hide the alt-text ...
	display: none;

	// ... and display the editor.
	+ .post__alt-text-editor {
		display: flex;
		flex-direction: column;
		gap: var(--size-spacing-default);
		margin-bottom: var(--size-spacing-triple);
	}
}
