@use '../../../compiled/scss/tokens';

.post__content {
	clear: both;
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-default);
	max-width: 100%;
	position: relative;

	.the-image {
		a,
		img {
			display: block;
		}
	}

	// stylelint-disable selector-no-qualifying-type
	img.unsized {
		height: auto;
		max-width: 100%;
	}
}

// If neither description, alt-text, or originally-by present add a little extra
// margin below the content. Otherwise looks too tight before the post meta.
.post__content:not(
	:has(.post__alt-text, .post__description, .post__originally-by)
) {
	margin-bottom: var(--size-spacing-default);
}
