@use '../../compiled/scss/tokens';

//
// Area: Permalink
//

.content-permalink {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-triple);
	padding: var(--size-spacing-half-again);

	li + li .comment,
	li + li .image-comment-form {
		margin-top: var(--size-spacing-double);
	}

	.comment__avatar img {
		height: var(--size-avatar-default);
		width: var(--size-avatar-default);
	}

	@media screen and (min-width: tokens.$size-breakpoint-lg) {
		padding: var(--size-spacing-triple);

		.post {
			display: grid;
			grid-gap: var(--size-spacing-triple);
			grid-template-areas:
				'title title'
				'content sidebar'
				'footer sidebar';
			grid-template-columns: 1fr 320px;

			.post__title {
				grid-area: title;
			}

			.post__content {
				grid-area: content;
			}

			.post__footer {
				grid-area: footer;
			}
		}
	}

	.permalink-sidebar {
		grid-area: sidebar;
		margin-bottom: var(--size-spacing-triple);
	}
}

@media screen and (min-width: tokens.$size-breakpoint-lg) {
	.content-permalink > * {
		margin: 0 !important;
	}

	.content-permalink::after {
		content: none;
	}
}

.permalink-sidebar {
	position: relative;
}
