@use '../../../init/mixins';

.account-header {
  background: linear-gradient(
    to bottom,
    var(--color-white-transparent),
    var(--color-white-transparent) calc(100% - 6px),
    var(--color-border-default)
  );
  padding: 1.5rem 1.875rem 1rem; // 24px 30px 16px

  .avatar {
    display: flex;

    img {
      display: block;
      height: 50px;
      width: 50px;
    }
  }

  .avatar-media {
    flex: none;
  }

  h2 {
    @include mixins.breakword();
    font-size: 1.875rem; // 30px
    line-height: 50px; // to match height of avatar
    padding-left: 1.5rem;

    @media screen and (min-width: 480px) {
      font-size: 2.25rem; // 36px
    }

    @media screen and (min-width: 800px) {
      font-size: 2.625rem; // 42px
    }
  }
}
