.site-header {
  display: flex;

  &.docked {
    backdrop-filter: blur(5px);
    background-color: rgb(from var(--color-background-page) r g b / .5);
    left: 0;
    opacity: 0;
    padding: 1rem 20px;
    padding-bottom: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    z-index: 1;
  }

  &.docked.visible {
    animation: site-header-slide-in 0.5s ease-in both;
  }

  &.docked.hidden {
    animation: site-header-slide-out 0.5s ease-out both;
  }

  @keyframes site-header-slide-in {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }

    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @keyframes site-header-slide-out {
    from {
      opacity: initial;
      transform: initial;
    }

    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
}

//
// Logo
//
.site-branding {
  margin-right: 1em;
  margin-top: 1em;
  width: 211px;

  a {
    display: block;

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }
  }

  .site-header.docked & {
    margin: 0;
    padding-right: 20px;
    width: auto;

    .site-branding--icon {
      background-image: svg-load('icons/mltshp-icon.svg');
      display: inline-block;
      height: 2.475em; // approximated this comparing to label mixin height
      width: 2.475em;
    }

    .site-branding--logo {
      background-image: svg-load('icons/bookmark.svg');
      display: none;
      height: 60px;
      width: auto;
    }
  }
}

.site-branding--logo {
  display: block;
  height: auto;
  width: 100%;
}

//
// Actions Toolbar
//
.site-nav {
  flex: 1;
  margin-top: 69px;
  position: relative;
  text-align: right;

  .site-header.docked & {
    margin-top: 0;
  }
}
