button {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

//
// Buttons and Labels
// The button styles can also be applied to non-interactive labels like tags.
// Note we're defining these as mixins so they can be used elsewhere as needed.
//
@mixin label() {
	background-color: var(--color-base-gray-700);
	border: none;
	border-radius: 0.5em;
	color: var(--color-text-light-emphasis);
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	height: 2.2em;
	letter-spacing: 0.033em;
	line-height: 2.2em;
	padding: 0 0.88em;
	text-align: center;
	text-decoration: none;
	text-shadow: 0.05em 0.05em 0.05em var(--color-base-black-transparent-500);
	transition-duration: var(--time-speed-quick);
	// stylelint-disable-next-line plugin/no-low-performance-animation-properties
	transition-property: background-color, color;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.label {
	@include label;
}

@mixin button() {
	@include label;
	cursor: pointer;

	&:hover,
	&:focus {
		color: var(--color-text-light-emphasis);
	}

	// stylelint-disable a11y/no-outline-none
	&:focus {
		outline: none; // this is safe because we've ensured good focus styles
	}
	// stylelint-enable

	&:disabled {
		background-color: var(--color-status-disabled) !important;
		color: var(--color-text-light) !important;
		cursor: default;
		text-shadow: none;
	}
}

.btn {
	@include button;
}

//
// Pastel modifier
// Buttons with muted colors
//
@mixin button-pastel() {
	font-weight: 600;
	letter-spacing: 0.015em;
	text-shadow: none;

	&:disabled {
		background-color: var(--color-status-disabled-pastel-light) !important;
		color: var(--color-status-disabled-pastel-dark) !important;
	}
}

.btn-pastel,
.label-pastel {
	@include button-pastel;
}

//
// Shadow modifier
// Buttons with a drop shadow
//
@mixin button-shadow() {
	box-shadow: 0.22em 0.22em 0 var(--color-base-black-transparent-100);
	margin-right: 0.22em;

	&:disabled {
		box-shadow: none !important;
	}
}

.btn-shadow {
	@include button-shadow;
}

//
// Padded modifier
// Buttons with a little cushion for the pushin'
//
@mixin button-padded() {
	height: 2.6em;
	line-height: 2.6em;
	padding: 0 1.25em;
}

.btn-padded {
	@include button-padded;
}

//
// Size modifiers
//
@mixin button-large() {
	font-size: 24px;
	letter-spacing: 0.066em;
}

.btn-large,
.label-large {
	@include button-large;
}

@mixin button-large-pastel() {
	letter-spacing: 0.033em;
}

.btn-large.btn-pastel,
.label-large.label-pastel {
	@include button-large-pastel;
}

@mixin button-small() {
	font-size: 12px;
	font-weight: 400;
}

.btn-small,
.label-small {
	@include button-small;
}

@mixin button-tiny() {
	font-size: 10px;
	font-weight: 400;
	padding: 0 0.66em;
}

.btn-tiny,
.label-tiny {
	@include button-tiny;
}

@mixin button-small-pastel() {
	font-weight: 500;
}

.btn-small.btn-pastel,
.btn-tiny.btn-pastel,
.label-small.label-pastel,
.label-tiny.label-pastel {
	@include button-small-pastel;
}

//
// Icon modifier
// Buttons that only contain an icon
//
@mixin button-icon() {
	padding: 0;
	width: 2.2em;
}

.btn-icon {
	@include button-icon;
}

@mixin button-icon-padded() {
	padding: 0;
	width: 2.6em;
}

.btn-icon.btn-padded {
	@include button-icon-padded;
}

//
// Primary modifier
// Provides extra visual weight and identifies the primary action in a set of buttons
//
@mixin label-primary() {
	background-color: var(--color-background-button-primary);
}

.label-primary {
	@include label-primary;
}

@mixin button-primary() {
	@include label-primary;

	&:hover,
	&:focus {
		background-color: var(--color-background-button-primary-hover);
	}
}

.btn-primary {
	@include button-primary;
}

//
// Primary Pastel modifier
//
@mixin label-primary-pastel() {
	background-color: var(--color-background-button-primary-pastel);
	color: var(--color-text-button-primary-pastel);
}

.label-primary.label-pastel {
	@include label-primary-pastel;
}

@mixin button-primary-pastel() {
	@include label-primary-pastel;

	&:hover,
	&:focus {
		background-color: var(--color-background-button-primary-pastel-hover);
		color: var(--color-text-button-primary-pastel-hover);
	}
}

.btn-primary.btn-pastel {
	@include button-primary-pastel;
}

//
// Secondary modifier
// De-emphasizes and identifies secondary actions in a set of buttons
//
@mixin label-secondary() {
	background-color: var(--color-background-button-secondary);
}

.label-secondary {
	@include label-secondary;
}

@mixin button-secondary() {
	@include label-secondary;

	&:hover,
	&:focus {
		background-color: var(--color-background-button-secondary-hover);
	}
}

.btn-secondary {
	@include button-secondary;
}

//
// Secondary Pastel modifier
//
@mixin label-secondary-pastel() {
	background-color: var(--color-background-button-secondary-pastel);
	color: var(--color-text-button-secondary-pastel);
}

.label-secondary.label-pastel {
	@include label-secondary-pastel;
}

@mixin button-secondary-pastel() {
	@include label-secondary-pastel;

	&:hover,
	&:focus {
		background-color: var(--color-background-button-secondary-pastel-hover);
		color: var(--color-text-button-secondary-pastel-hover);
	}
}

.btn-secondary.btn-pastel {
	@include button-secondary-pastel;
}

//
// Success modifier
// Indicates a successful or positive action
//
@mixin label-success() {
	background-color: var(--color-background-button-success);
}

.label-success {
	@include label-success;
}

@mixin button-success() {
	@include label-success;

	&:hover,
	&:focus {
		background-color: var(--color-background-button-success-hover);
	}
}

.btn-success {
	@include button-success;
}

//
// Success Pastel modifier
//
@mixin label-success-pastel() {
	background-color: var(--color-background-button-success-pastel);
	color: var(--color-text-button-success-pastel);
}

.label-success.label-pastel {
	@include label-success-pastel;
}

@mixin button-success-pastel() {
	@include label-success-pastel;

	&:hover,
	&:focus {
		background-color: var(--color-background-button-success-pastel-hover);
		color: var(--color-text-button-success-pastel-hover);
	}
}

.btn-success.btn-pastel {
	@include button-success-pastel;
}

//
// Warning modifier
// Indicates caution should be taken with this action
//
@mixin label-warning() {
	background-color: var(--color-background-button-warning);
}

.label-warning {
	@include label-warning;
}

@mixin button-warning() {
	@include label-warning;

	&:hover,
	&:focus {
		background-color: var(--color-background-button-warning-hover);
	}
}

.btn-warning {
	@include button-warning;
}

//
// Warning Pastel modifier
//
@mixin label-warning-pastel() {
	background-color: var(--color-background-button-warning-pastel);
	color: var(--color-text-button-warning-pastel);
}

.label-warning.label-pastel {
	@include label-warning-pastel;
}

@mixin button-warning-pastel() {
	@include label-warning-pastel;

	&:hover,
	&:focus {
		background-color: var(--color-background-button-warning-pastel-hover);
		color: var(--color-text-button-warning-pastel-hover);
	}
}

.btn-warning.btn-pastel {
	@include button-warning-pastel;
}

//
// Danger modifier
// Indicates a dangerous or potentially negative action
//
@mixin label-danger() {
	background-color: var(--color-background-button-danger);
}

.label-danger {
	@include label-danger;
}

@mixin button-danger() {
	@include label-danger;

	&:hover,
	&:focus {
		background-color: var(--color-background-button-danger-hover);
	}
}

.btn-danger {
	@include button-danger;
}

//
// Danger Pastel modifier
//
@mixin label-danger-pastel() {
	background-color: var(--color-background-button-danger-pastel);
	color: var(--color-text-button-danger-pastel);
}

.label-danger.label-pastel {
	@include label-danger-pastel;
}

@mixin button-danger-pastel() {
	@include label-danger-pastel;

	&:hover,
	&:focus {
		background-color: var(--color-background-button-danger-pastel-hover);
		color: var(--color-text-button-danger-pastel-hover);
	}
}

.btn-danger.btn-pastel {
	@include button-danger-pastel;
}
