@use '../../../compiled/scss/tokens';
@use '../../../base/links';
@use '../../../init/mixins';

.new-post-panel {
	background-color: var(--color-background-content);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: var(--size-spacing-default) var(--size-spacing-default) 0
		var(--color-base-black-transparent-200);
	display: none;
	left: var(--size-spacing-triple);
	margin: 0 auto;
	max-width: 560px; // magic number
	padding: var(--size-spacing-half-again);
	position: fixed;
	right: var(--size-spacing-triple);
	top: calc(
		var(--size-spacing-default) * -1
	); // to avoid the shadow being cut off
	z-index: 999;

	@media screen and (min-width: tokens.$size-breakpoint-lg) {
		padding: calc(var(--size-spacing-default) * 5);
	}

	h2 {
		font-size: 1.75rem;
		line-height: 1.2;
		margin-bottom: var(--size-spacing-default);
		position: relative;

		a {
			@include links.link-primary;
			@include links.link-emphasized;
		}
	}

	p {
		font-size: 0.875rem;
		line-height: 1.2;
		margin: var(--size-spacing-double) 0;
		padding: 0 var(--size-spacing-half);
	}

	// overlay on top of h2 text
	.upload-image-input {
		cursor: pointer;
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.save-video-form {
		display: flex;

		.field-input {
			flex: 1;
		}

		.btn {
			flex: none;
			margin-left: var(--size-spacing-default);
		}
	}

	.post-video-form {
		margin-top: var(--size-spacing-double);
	}

	.shake-selector {
		position: relative;

		h3 {
			a {
				color: var(--color-page-text);
				display: block;
				text-decoration: none;

				.green {
					@include mixins.breakword;
					color: var(--color-status-success);
				}

				&:hover,
				&:focus {
					.green {
						color: var(--color-status-success-pastel-dark);
					}
				}
			}
		}

		ul {
			background-color: var(--color-status-success-pastel-light);
			border-radius: var(--size-border-radius-large);
			box-shadow: var(--size-spacing-half) var(--size-spacing-half) 0
				var(--color-base-black-transparent-200);
			display: none;
			left: var(--size-spacing-triple);
			list-style: none;
			margin: 0;
			max-height: 66vh; // arbitrary, just smaller than viewport
			overflow: auto;
			padding: var(--size-spacing-default) 0 var(--size-spacing-half) 0;
			position: absolute;
			top: calc(1.17rem * 1.4); // h3 font-size * line-height
			width: 200px; // magic number
			z-index: 2;

			li {
				a {
					@include mixins.breakword;
					color: var(--color-status-success-pastel-dark);
					display: block;
					font-size: 0.875rem;
					font-weight: var(--number-font-weight-bold);
					padding: var(--size-spacing-half) var(--size-spacing-half-again);
					text-decoration: none;

					&:hover,
					&:focus {
						color: var(--color-text-dark);
					}
				}
			}
		}
	}
}

.new-post-panel--inner {
	display: flex;
	flex-direction: column;

	@media screen and (min-width: tokens.$size-breakpoint-lg) {
		flex-direction: row;
	}

	> * {
		flex: 1 1 0;
		min-width: 0;
		padding-bottom: var(--size-spacing-half-again);
		padding-top: var(--size-spacing-half-again);

		@media screen and (min-width: tokens.$size-breakpoint-lg) {
			padding-bottom: var(--size-spacing-quadruple);
			padding-top: calc(var(--size-spacing-default) * 6);
		}

		&:first-child {
			border-bottom: 1px dashed var(--color-border-default);

			@media screen and (min-width: tokens.$size-breakpoint-lg) {
				border-bottom: 0;
				border-right: 1px dashed var(--color-border-default);
				padding-right: var(--size-spacing-double);
			}
		}

		&:last-child {
			@media screen and (min-width: tokens.$size-breakpoint-lg) {
				padding-left: var(--size-spacing-double);
			}
		}

		&:first-child:last-child {
			border: 0;
			padding: 0;
		}
	}
}
