<div class="user-follow user-follow-extended">
  <a class="icon" href="#">
    <img
      class="avatar--img"
      src="https://mltshp-production.s3.amazonaws.com/account/109/profile.jpg"
      width="50"
      height="50"
    />
  </a>
  <div class="follow">
    <div class="details">
      <h4>
        <a href="#">Caitlin Burke</a>
        <a href="#" title="upgraded their account!">
          <img
            alt="pro"
            src="https://mltshp-cdn.com/static/images/icon_plus.svg"
            width="12"
            height="12"
            border="0"
            valign="center"
          />
        </a>
      </h4>
      <p class="about">I like sources!</p>
      <p class="website">
        <a href="#" rel="nofollow" target="_blank">
          http://www.caitlinburke.com/
        </a>
      </p>
    </div>
    <form>
      <a href="" class="submit-form btn btn-warning btn-pastel btn-small">
        - Unfollow
      </a>
    </form>
  </div>
</div>
