<div class="user-follow">
	<a class="icon" href="#">
		<img
			class="avatar--img"
			src="https://mltshp-cdn.com/s3/account/12422/profile.jpg"
			width="50"
			height="50"
		/>
	</a>
	<div class="follow">
		<h4>
			<a href="#">everichon</a>
			<a href="#">
				<img
					alt="pro"
					src="https://mltshp-cdn.com/static/images/icon_plus.svg"
					width="12"
					height="12"
					border="0"
					valign="center"
				/>
			</a>
		</h4>
		<form>
			<a href="" class="submit-form btn btn-secondary btn-pastel btn-small">
				+ Follow
			</a>
		</form>
	</div>
</div>
