@use '../../../compiled/scss/tokens';
@use '../../../base/links';

.dashboard-new-user {
  padding: var(--size-spacing-double) var(--size-spacing-triple);

  h1 {
    color: var(--color-status-success);
    font-size: 3.125rem;
    margin-bottom: var(--size-spacing-double);
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.375rem;
    margin-bottom: var(--size-spacing-half);
  }

  h4 {
    font-size: 0.875rem;
    margin-bottom: var(--size-spacing-half);
  }

  p {
    font-size: 0.875rem;
    line-height: 1.75;
    padding-bottom: var(--size-spacing-half-again);
  }

  a {
    @include links.link--primary();
  }

  .two-columns {
    display: flex;

    .left-column {
      flex: 0 0 70px; // image size
      margin-right: var(--size-spacing-double);
      margin-top: var(--size-spacing-default);

      @media screen and (min-width: tokens.$size-breakpoint-lg) {
        flex-basis: 130px; // image size
        margin-left: var(--size-spacing-double);
        margin-right: var(--size-spacing-quadruple);
      }
    }

    .right-column {
      flex: 1;
      margin-top: var(--size-spacing-quadruple);
    }
  }
}
