<img
	src="https://mltshp-production.s3.amazonaws.com/account/7367/shake_long-names-like-Llanfairp.jpg"
	width="284"
	height="284"
/>
<div class="shake-details">
	<h3 class="title">
		Shake for Long Names Like
		Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch
	</h3>
	<!-- prettier-ignore -->
	<p class="description">This is a shake specifically for posts with really long names that might cause layout problems like Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch and Taumatawhakatangihangakoauauotamateaturipukakapikimaungahoronukupokaiwhenuakitanatahu</p>
</div>
