@use '../../../base/links';

.shake-members {
  list-style: none;
  margin: 0;
  padding: var(--spacing-triple);

  li {
    border-bottom: 1px dashed var(--color-border-default);
    display: flex;
    margin-bottom: var(--spacing-triple);
    padding-bottom: var(--spacing-triple);
  }

  .member--img {
    flex: none;
    margin-right: var(--spacing-default);
  }

  .details {
    flex: 1;
  }

  h4 {
    font-size: 1.125rem;
    padding-bottom: var(--spacing-half);

    a {
      @include links.link--primary();
      @include links.link--emphasized();
    }
  }

  .about {
    font-size: 0.875rem;
    margin: 0;
  }

  .website {
    display: block;
    margin-top: var(--spacing-half);
  }
}
