@use '../../compiled/scss/tokens';

.site-nav {
	text-wrap-mode: nowrap;
}

.site-nav--list {
	display: none;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 47px; // magic number
	z-index: 99;

	.site-nav.is-expanded & {
		display: flex;
	}

	@media screen and (min-width: tokens.$size-breakpoint-lg) {
		display: flex;
		flex-direction: row;
		position: static;
	}
}

.site-nav--item {
	display: flex;
	flex: none;
	justify-content: flex-end;

	> * {
		flex: 1;

		@media screen and (min-width: tokens.$size-breakpoint-lg) {
			flex: none;
		}
	}

	+ .site-nav--item {
		margin-top: 0.25em;

		@media screen and (min-width: tokens.$size-breakpoint-lg) {
			margin-left: 1em;
			margin-top: 0;
		}
	}
}

.site-nav--notifications {
	margin-right: 0.5em;

	@media screen and (min-width: tokens.$size-breakpoint-lg) {
		display: none;
	}
}

.site-nav--toggle {
	@media screen and (min-width: tokens.$size-breakpoint-lg) {
		display: none;
	}
}

// stretch the last item in the nav
.site-nav--upload,
.site-nav--signup {
	@media screen and (min-width: tokens.$size-breakpoint-lg) {
		flex-grow: 1;
	}
}

.site-nav--conversations a,
.site-nav--popular a,
.site-nav--search a {
	display: block;
}

// sign up button call-out text
.site-nav--signup .call-out {
	color: var(--color-page-text-secondary);
	display: none;
	font-size: 0.875rem;
	font-weight: var(--number-font-weight-bold);
	max-width: 18em;
	padding-right: var(--size-spacing-default);
	padding-top: 3px;

	@media screen and (min-width: tokens.$size-breakpoint-lg) {
		display: block;
	}
}
