@use '../../../../compiled/scss/tokens';
@use '../../../../init/mixins';
@use '../../buttons/buttons';

.image-title {
  max-width: 100%;
  padding: var(--size-spacing-half-again) var(--size-spacing-half-again) 0;
  position: relative;

  @media screen and (min-width: tokens.$size-breakpoint-lg) {
    padding: var(--size-spacing-quadruple) var(--size-spacing-quadruple) 0;
  }

  .image-poster {
    float: left;
    padding-right: var(--size-spacing-default);

    a {
      display: block;
    }
  }

  h1,
  h3 {
    @include mixins.breakword();
  }

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.875rem;
    margin-bottom: var(--size-spacing-double);
  }

  .remove-from-shake {
    height: 21px;
    position: absolute;
    right: var(--size-spacing-default);
    top: var(--size-spacing-default);
    width: 21px;

    @media screen and (min-width: tokens.$size-breakpoint-lg) {
      top: calc(
        var(--size-spacing-quadruple) + var(--size-spacing-half)
      ); // padding + 5px
    }
  }
}

.image-edit-title:hover,
.image-edit-title-hover {
  background-color: var(--color-status-edit);
}

.image-edit-title-form {
  display: none;
  flex-direction: column;

  @media screen and (min-width: tokens.$size-breakpoint-md) {
    flex-direction: row;
  }

  &.is-active {
    display: flex;
  }

  .title-input {
    background-color: var(--color-background-content);
    border: 1px solid var(--color-border-default);
    border-radius: var(--size-border-radius-default);
    color: var(--color-page-text);
    flex: 1;
    font-size: 3rem;
    font-weight: var(--number-font-weight-bold);
    margin-bottom: var(--size-spacing-default);
    max-width: 100%;
    min-width: 0;

    @media screen and (min-width: tokens.$size-breakpoint-md) {
      margin-bottom: 0;
    }

    .image-content-list & {
      font-size: 1.875rem;
      min-width: 250px;
      padding: 0.0666em;
    }
  }

  .buttons {
    align-items: center;
    display: flex;
    padding-left: var(--size-spacing-default);
  }

  .or {
    color: var(--color-page-text-secondary);
    display: block;
    padding: 0 var(--size-spacing-default);
  }

  //
  // List View Overrides
  // 1. Spacing is handled differently on the permalink page
  // 2. We only want the small button treatment on list pages
  //
  .image-content-list & {
    margin-bottom: var(--size-spacing-double); // 1

    .btn {
      @include buttons.button--small(); // 2
    }
  }
}
