@use '../../../../base/links';
@use '../../../../init/mixins';

.image-content {
  .description {
    color: var(--color-page-text);
    font-size: 0.875rem;
    overflow: hidden;
    padding-bottom: var(--size-spacing-default);
  }

  .the-description {
    @include mixins.breakword;

    &.the-description-blank {
      color: var(--color-status-disabled);
      font-style: italic;
    }

    a {
      @include links.link-primary;
    }
  }

  // Inline Editing Description
  .description-edit .the-description:hover,
  .description-edit .the-description:focus,
  .the-description-hover {
    background-color: var(--color-status-edit);
  }

  .description-edit-form {
    display: none;

    textarea {
      background-color: var(--color-background-content);
      border: 1px solid var(--color-border-default);
      border-radius: var(--size-border-radius-default);
      color: var(--color-page-text);
      min-height: 100px;
      padding: var(--size-spacing-half);
    }

    .buttons {
      display: flex;
      padding: var(--size-spacing-default) 0;
    }

    .or {
      color: var(--color-page-text-secondary);
      display: block;
      padding: var(--size-spacing-half) var(--size-spacing-default)
        var(--size-spacing-half-again) var(--size-spacing-default);
    }
  }
}
