<nav id="site-nav" class="site-nav">
	<button
		type="button"
		class="site-nav--toggle btn btn-warning btn-pastel btn-icon"
	>
		☰
	</button>
	<ul class="site-nav--list">
		<li class="site-nav--item site-nav--popular">
			<a class="btn btn-warning btn-pastel" href="#">Popular</a>
		</li>
		<li class="site-nav--item site-nav--signup">
			<div class="call-out">
				Join us! Sign up to post images and create your own shake.
			</div>
			<a class="btn btn-primary btn-shadow" href="#">Sign Up!</a>
		</li>
	</ul>
</nav>
