.image-medium {
  margin-right: var(--size-spacing-half-again);
  padding-bottom: var(--size-spacing-triple);

  .user-and-title {
    padding-top: var(--size-spacing-default);

    a {
      display: block;
      float: left;
      margin-right: var(--size-spacing-default);
    }

    .avatar--img {
      height: var(--size-avatar-tiny);
      width: var(--size-avatar-tiny);
    }

    .title {
      font-size: 1.25rem;
      font-weight: var(--number-font-weight-bold);
      overflow: hidden;
    }
  }

  .stats {
    clear: both;
    color: var(--color-page-text-secondary);
    display: flex;
    list-style: none;
    margin: 0;
    padding: var(--size-spacing-default) 0 0;

    // stylelint-disable selector-no-qualifying-type
    li {
      float: left;
      font-size: 0.75em;
      padding-right: var(--size-spacing-default);

      &.saves {
        background-image: svg-load('icons/save-tiny.svg');
        background-position: 0 2px;
        background-repeat: no-repeat;
        background-size: 16px 11px;
        color: var(--color-status-warning);
        padding-left: var(--size-spacing-double);
      }

      &.likes {
        background-image: svg-load('icons/like.svg');
        background-position: 0 2px;
        background-repeat: no-repeat;
        background-size: 12px 9px;
        color: var(--color-status-danger);
        padding-left: var(--size-spacing-half-again);
      }

      &.comments a {
        background-image: svg-load('icons/comment.svg');
        background-position: 0 2px;
        background-repeat: no-repeat;
        background-size: 12px 9px;
        color: var(--color-brand-secondary);
        padding-left: var(--size-spacing-half-again);
        text-decoration: none;
      }
    }
  }
}

.image-medium-thumb {
  a {
    display: block;
  }

  img {
    text-align: center;
    vertical-align: middle;
  }
}
