.dashboard-new-user {
  padding: var(--spacing-double) var(--spacing-triple);

  h1 {
    color: var(--color-success);
    font-size: 3.125rem;
    margin-bottom: var(--spacing-double);
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.375rem;
    margin-bottom: var(--spacing-half);
  }

  h4 {
    font-size: 0.875rem;
    margin-bottom: var(--spacing-half);
  }

  p {
    font-size: 0.875rem;
    line-height: 1.75;
    padding-bottom: var(--spacing-half-again);
  }

  a {
    color: var(--color-text-link-primary);
    text-decoration-color: var(--color-text-link-primary-underline);

    &:hover,
    &:focus,
    &:active {
      color: var(--color-text-link-primary-hover);
      text-decoration-color: var(--color-text-link-primary-underline-hover);
    }
  }

  .two-columns {
    display: flex;

    .left-column {
      flex: 0 0 70px; // image size
      margin-right: var(--spacing-double);
      margin-top: var(--spacing-default);

      @media screen and (min-width: 768px) {
        flex-basis: 130px; // image size
        margin-left: var(--spacing-double);
        margin-right: var(--spacing-quadruple);
      }
    }

    .right-column {
      flex: 1;
      margin-top: var(--spacing-quadruple);
    }
  }
}
