@use '../../compiled/scss/tokens';
@use '../../init/mixins';

.image-comment-form {
	header {
		display: flex;
	}

	.avatar {
		flex: none;
	}

	h3 {
		background-image: svg-load('balloons/comment-quip-left.svg');
		background-position: left top;
		background-repeat: no-repeat;
		background-size: auto var(--size-avatar-default); // match avatar height
		border-bottom-right-radius: 15px; // magic number looks good with balloon background
		border-top-right-radius: 25px 20px; // magic number looks good with balloon background
		display: block;
		left: calc(var(--size-spacing-default) * -1);
		position: relative;

		span {
			color: var(--color-text-light-emphasis);
			display: block;
			font-size: 0.75rem;
			height: var(--size-avatar-default); // match avatar height
			line-height: var(--size-avatar-default); // match avatar height
			padding-left: 35px; // magic number to accomodate balloon stem
			padding-right: var(--size-spacing-double);
			text-shadow: 0.05em 0.05em 0.05em var(--color-base-black-transparent-500); // copied from button
			white-space: nowrap;

			@media screen and (min-width: tokens.$size-breakpoint-sm) {
				font-size: 0.875rem;
			}

			@media screen and (min-width: tokens.$size-breakpoint-md) {
				font-size: 1rem;
			}

			@media screen and (min-width: tokens.$size-breakpoint-lg) {
				font-size: 1.125rem;
			}
		}
	}

	.field {
		clear: both;
		margin: var(--size-spacing-double) 0;
		text-align: right;
	}

	textarea {
		background-color: var(--color-background-content);
		border: 1px solid var(--color-border-default);
		border-radius: var(--size-border-radius-default);
		color: var(--color-page-text);
		height: 8em;
		padding: var(--size-spacing-half);
	}
}
