@use '../../compiled/scss/tokens';
@use '../../init/mixins';

.image-comments {
	max-width: 100%;
	overflow: hidden;
	padding-left: var(--size-spacing-quadruple);

	.comments {
		clear: both;
	}

	.comment {
		display: flex;

		+ .comment {
			margin-top: var(--size-spacing-double);
		}

		.avatar {
			margin-right: var(--size-spacing-default);
			width: var(--size-avatar-default);

			a {
				display: block;
			}
		}

		.body {
			flex: 1;
			font-size: 0.875rem;
			line-height: 1.3;
			overflow: hidden;

			.where-from {
				color: var(--color-page-text-secondary);
				font-size: 0.825em;
				padding-top: var(--size-spacing-default);
			}
		}

		.comment-body-text {
			@include mixins.breakword;
		}

		.meta {
			align-items: flex-end;
			display: flex;
			flex-wrap: wrap;
			font-size: 0.825em;
			padding-bottom: var(--size-spacing-default);

			> * + * {
				margin-left: 0.825em;
			}

			// Override margin applied to all meta children above. Otherwise the form
			// can affect position of the delete control.
			.delete-form {
				width: 0;
				margin: 0;
			}

			.username,
			.user-name {
				font-size: 0.875rem;
				font-weight: var(--number-font-weight-bold);
			}

			.pro-badge {
				margin-left: 0.25em;
			}

			.created-at {
				color: var(--color-page-text-secondary);
			}

			// reply-to and delete controls defined further up the tree to enable
			// reuse.
		}
	}
}

.image-comment-form {
	margin-top: var(--size-spacing-triple);
	padding-left: var(--size-spacing-quadruple);

	header {
		display: flex;
	}

	.avatar {
		flex: none;
	}

	h3 {
		background-image: svg-load('balloons/comment-quip-left.svg');
		background-position: left top;
		background-repeat: no-repeat;
		background-size: auto var(--size-avatar-default); // match avatar height
		border-bottom-right-radius: 15px; // magic number looks good with balloon background
		border-top-right-radius: 25px 20px; // magic number looks good with balloon background
		display: block;
		left: calc(var(--size-spacing-default) * -1);
		position: relative;

		span {
			color: var(--color-text-light-emphasis);
			display: block;
			font-size: 0.75rem;
			height: var(--size-avatar-default); // match avatar height
			line-height: var(--size-avatar-default); // match avatar height
			padding-left: 35px; // magic number to accomodate balloon stem
			padding-right: var(--size-spacing-double);
			text-shadow: 0.05em 0.05em 0.05em var(--color-base-black-transparent-500); // copied from button
			white-space: nowrap;

			@media screen and (min-width: tokens.$size-breakpoint-sm) {
				font-size: 0.875rem;
			}

			@media screen and (min-width: tokens.$size-breakpoint-md) {
				font-size: 1rem;
			}

			@media screen and (min-width: tokens.$size-breakpoint-lg) {
				font-size: 1.125rem;
			}
		}
	}

	.field {
		clear: both;
		margin: var(--size-spacing-double) 0;
		text-align: right;
	}

	textarea {
		background-color: var(--color-background-content);
		border: 1px solid var(--color-border-default);
		border-radius: var(--size-border-radius-default);
		color: var(--color-page-text);
		height: 8em;
		padding: var(--size-spacing-half);
	}
}
