// These styles are mostly just overriding `.content-narrow p` rules.
@use '../../../base/links';

.faq-page {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.25rem;
    margin-top: var(--size-spacing-half-again);
  }

  // override `.content-narrow p`
  p,
  li {
    font-size: 0.875rem;
    line-height: 2;
    margin-top: 5px;

    a {
      @include links.link-primary;
      @include links.link-emphasized;
    }
  }
}
