@use '../../compiled/scss/tokens';
@use '../../base/links';
@use '../../components/page-header/page-header';

//
// Area: Settings
//
.settings-header {
	@include page-header.page-header;

	// @see https://sass-lang.com/documentation/breaking-changes/mixed-decls/
	// stylelint-disable-next-line no-duplicate-selectors, scss/selector-no-redundant-nesting-selector
	& {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	@media screen and (min-width: tokens.$size-breakpoint-lg) {
		flex-direction: row;
	}

	> * {
		@media screen and (min-width: tokens.$size-breakpoint-lg) {
			flex: 1;
			max-width: calc(50% - var(--size-spacing-double));
		}
	}

	h1 {
		font-size: 3rem;
		margin-bottom: var(--size-spacing-half-again);

		@media screen and (min-width: tokens.$size-breakpoint-lg) {
			margin-bottom: 0;
		}
	}
}

.settings-navigation {
	ul {
		background-color: var(--color-background-content-secondary);
		border-radius: var(--size-border-radius-large);
		display: flex;
		list-style: none;
		margin: 0;
		padding: var(--size-spacing-half-again);
		padding-bottom: 0;

		@media screen and (min-width: tokens.$size-breakpoint-md) {
			padding-left: var(--size-spacing-double);
		}
	}

	li + li {
		@media screen and (min-width: tokens.$size-breakpoint-md) {
			margin-left: var(--size-spacing-half-again);
		}
	}

	a {
		@include links.link-primary;
		@include links.link-emphasized;
		border-top-left-radius: var(--size-border-radius-default);
		border-top-right-radius: var(--size-border-radius-default);
		display: block;
		font-size: 0.875rem;
		padding: var(--size-spacing-default);
		padding-bottom: var(--size-spacing-half-again);
	}

	.selected a {
		background-color: var(--color-background-content);
	}
}

.settings-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: var(--size-spacing-half-again);

	@media screen and (min-width: tokens.$size-breakpoint-lg) {
		flex-direction: row;
		padding: var(--size-spacing-quadruple);
	}

	> * {
		margin: 0;

		@media screen and (min-width: tokens.$size-breakpoint-lg) {
			flex: 1;
			max-width: calc(50% - var(--size-spacing-double));
		}
	}

	> * + * {
		margin-top: var(--size-spacing-triple);

		@media screen and (min-width: tokens.$size-breakpoint-lg) {
			margin-top: 0;
		}
	}
}

//
// Account Page
//
.settings-subscription-sidebar {
	h4 {
		border-bottom: 1px dashed var(--color-border-default);
		font-size: 1.125rem;
		margin-bottom: var(--size-spacing-default);
		padding-bottom: 0.25em;
	}

	.migration-block,
	.member-status-block {
		background-color: var(--color-bg-success-pastel);
		border-radius: var(--size-border-radius-large);
		padding: var(--size-spacing-half-again);

		h3 {
			color: var(--color-status-success-pastel-dark);
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.migration-block {
		background-color: var(--color-bg-secondary-brand-pastel);
		margin-bottom: var(--size-spacing-double);

		h3 {
			color: var(--color-brand-secondary);
		}
	}

	.migration-block-content,
	.member-status-block-content {
		background-color: var(--color-background-content);
		border-radius: var(--size-border-radius-large);
		margin-top: var(--size-spacing-default);
		padding: var(--size-spacing-double);
	}

	.transaction-list {
		li {
			margin-bottom: var(--size-spacing-default);

			.id {
				color: var(--color-page-text-secondary);
			}

			.amount {
				font-weight: var(--number-font-weight-bold);
			}
		}
	}

	p {
		margin: var(--size-spacing-double) 0;
	}
}

//
// Profile Page
//
.settings-body-content {
	.fun-form {
		margin-top: 0;
	}
}

.settings-body-sidebar {
	.profile-photo {
		display: flex;
		flex-direction: column;

		@media screen and (min-width: tokens.$size-breakpoint-md) {
			flex-direction: row;
		}
	}

	.profile-photo-media {
		flex: none;

		.avatar--img {
			height: var(--size-avatar-large);
			width: var(--size-avatar-large);
		}
	}

	.profile-photo-meta {
		flex: 1;
		padding-top: var(--size-spacing-default);

		@media screen and (min-width: tokens.$size-breakpoint-md) {
			margin-left: var(--size-spacing-default);
			padding-top: var(--size-spacing-half);
		}

		h3 {
			font-size: 1.125rem;
			margin-bottom: var(--size-spacing-double);
		}

		h4 {
			font-size: 0.875rem;
			margin-bottom: var(--size-spacing-default);
		}

		.settings-photo-upload {
			color: var(--color-page-text-secondary);
			font-size: 0.75rem;
		}
	}

	.info-block {
		background-color: var(--color-background-content-secondary);
		border-radius: var(--size-border-radius-large);
		margin-top: var(--size-spacing-quadruple);
		padding: var(--size-spacing-half-again);

		@media screen and (min-width: tokens.$size-breakpoint-md) {
			padding: var(--size-spacing-double);
		}

		h3 {
			font-size: 1rem;
			margin-bottom: var(--size-spacing-default);
		}

		p {
			margin-bottom: 0;
		}
	}
}

//
// Connections Page
//
.settings-body-connections {
	display: block; // disable flex layout

	> * {
		max-width: none; // disable flex layout
	}

	h3 {
		font-size: 1.125rem;
	}

	.apps {
		list-style: none;
		margin: var(--size-spacing-triple) 0;
		padding: 0;

		li {
			margin-bottom: var(--size-spacing-double);
		}

		h4 {
			color: var(--color-page-text-secondary);
			font-size: 1.125rem;
			margin-bottom: var(--size-spacing-half);

			.title {
				color: var(--color-brand-primary);
			}

			.by {
				font-size: 0.875rem;

				a {
					text-decoration: none;
				}
			}
		}

		p {
			font-size: 0.875rem;
			margin-bottom: var(--size-spacing-half);
		}

		.disconnect {
			font-size: 0.75rem;
			text-decoration: none;
		}
	}
}
