<div class="notification-block notification-block-like">
	<div class="notification-block-hd">2 new likes</div>
	<div class="notification-block-bd" style="display: block">
		<div class="notification">
			<div class="thumb">
				<a href="#"><img src="https://mltshp-cdn.com/r/1Q7DY?width=100" /></a>
			</div>
			<div class="context">
				<a href="#">Ferrari</a>
				has been liked by <a href="#">spaceninja</a>, <a href="#">vosechu</a>
			</div>
		</div>
		<div class="notification">
			<div class="thumb">
				<a href="#"><img src="https://mltshp-cdn.com/r/1QE6J?width=100" /></a>
			</div>
			<div class="context">
				<a href="#">Moar Ferraris</a>
				has been liked by <a href="#">catbird</a>
			</div>
		</div>
		<div class="clear-all">
			<a class="btn btn-warning btn-pastel btn-small" href="#">clear all</a>
		</div>
	</div>
</div>
