<div class="notification-block notification-block-invitation-approved">
	<div class="notification-block-hd">2 new shake memberships</div>
	<div class="notification-block-bd" style="display: block">
		<div class="notification">
			You are now a member of
			<a href="#">Dance Party</a>.
		</div>
		<div class="notification">
			You are now a member of
			<a href="#">Fantastic Internet Art</a>.
		</div>
		<div class="clear-all">
			<a class="btn btn-warning btn-pastel btn-small" href="#">clear all</a>
		</div>
	</div>
</div>
