<div class="dashboard-new-user">
  <h1>Welcome To MLTSHP!</h1>
  <h2>Getting Started</h2>
  <p>
    There are a couple of things you can do to make MLTSHP more fun. You can
    find people to follow in the <a href="#">incoming shake</a>. If you see
    something you like click the “LIKE” button. If you see something you want to
    keep click “SAVE” and your followers will see it too.
  </p>
  <div class="two-columns">
    <div class="left-column">
      <img
        src="https://mltshp.com/static/images/bunny-shking-it.svg"
        width="130"
        style="padding-bottom: 100px;"
      /><br />
      <img
        src="https://mltshp.com/static/images/porky-shking-it.svg"
        width="130"
      />
    </div>
    <div class="right-column">
      <h3>Find people to follow</h3>
      <h4>Check out the <a href="#">Incoming Shake</a> often.</h4>
      <p>
        Incoming contains images from everyone’s shake. Follow people who post
        images you like.
      </p>
      <h4>Follow <a href="#">MLTSHP</a>.</h4>
      <p>
        We created MLTSHP and would love to have you follow our personal shakes.
        We save the the good stuff we see from others and add to our own shakes
        daily.
      </p>
      <p>
        We also have a topical group shakes curated by groups of people, you can
        <a href="#">find that here</a>.
      </p>
      <h3>Save images to your own shake</h3>
      <p>
        Use the “New Post” button at the top of the page to upload from your
        computer.
      </p>
      <p>
        <a href="#">Get a browser plugin to save images with a right-click.</a>

        <br />
        <a href="#">Set up Twitter to post images from your phone.</a>
      </p>
      <p>&nbsp;</p>
    </div>
    <br />
  </div>
</div>
