<div class="feature feature--flipped feature--finale community-funded">
	<div class="feature--image">
		<img
			alt=""
			class="feature--image-media"
			src="https://mltshp-cdn.com/static/images/homepage-dude.svg"
			width="89"
		/>
	</div>
	<div class="feature--content">
		<h2 class="feature--title">100% Community Funded &amp; Operated</h2>
		<p class="feature--body">
			MLTSHP charges a small membership fee to keep the spam out and the bills
			paid. No ads and only friendly robots. Our staff is entirely volunteers.
		</p>
	</div>
</div>
