@use '../../../base/links';
@use '../../../init/mixins';

.new-members {
  border-top: 1px dashed var(--color-border-default);
  list-style: none;
  margin: var(--size-spacing-triple) 0 0;
  padding: var(--size-spacing-triple) 0 0;

  > li {
    border-bottom: 1px dashed var(--color-border-default);
    clear: both;
    margin-bottom: var(--size-spacing-triple);
    padding-bottom: var(--size-spacing-triple);

    > a {
      display: block;
      float: left;
      margin-right: var(--size-spacing-default);
    }

    h4 {
      @include mixins.breakword();
      font-size: 1.125rem;
      padding-bottom: var(--size-spacing-half);

      a {
        @include links.link--primary();
        @include links.link--emphasized();
      }
    }

    p {
      @include mixins.breakword();
      font-size: 0.875rem;
    }
  }

  .image-medium {
    margin-left: calc(var(--size-spacing-default) * 6);
    padding-bottom: 0;
    padding-top: var(--size-spacing-default);

    .user-and-title > a {
      display: none;
    }
  }
}
