// These styles are mostly just overriding `.content-narrow p` rules.

//
// Code of Conduct Page
//
.code-of-conduct {
  h2 {
    font-size: 1.875rem;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 1.4em;
  }

  p {
    font-size: 1rem;
    line-height: 1.4;
    margin: 1em 0;
  }

  li {
    margin-bottom: 0.4em;
  }
}

//
// Terms of Use Page
//
.terms-of-use {
  p {
    font-size: 1rem;
    line-height: 1.4;
    margin: 1em 0;
  }

  li {
    font-size: 1rem;
    list-style-type: lower-alpha;
    margin-left: var(--spacing-quadruple);
  }

  .terms-center {
    text-align: center;
  }
}

//
// Terms of Use Announcement Page
//
.tou-notice-page {
  p {
    font-size: 1rem;
    line-height: 1.4;
    margin: 1em 0;
  }
}
