<div class="following-wrapper">
  <h3>Following <span class="count">(22)</span></h3>
  <div class="following">
    <ul id="following-list">
      <li>
        <a href="#" title="andre">
          <img
            class="avatar--img"
            src="https://mltshp-production.s3.amazonaws.com/account/2/profile.jpg"
            width="48"
            height="48"
          />
        </a>
      </li>
      <li>
        <a href="#" title="amber">
          <img
            class="avatar--img"
            src="https://mltshp-production.s3.amazonaws.com/account/3/profile.jpg"
            width="48"
            height="48"
          />
        </a>
      </li>
      <li>
        <a href="#" title="artwells">
          <img
            class="avatar--img"
            src="https://mltshp-production.s3.amazonaws.com/account/63/profile.jpg"
            width="48"
            height="48"
          />
        </a>
      </li>
      <li>
        <a href="#" title="tonyb">
          <img
            class="avatar--img"
            src="https://mltshp-production.s3.amazonaws.com/account/67/profile.jpg"
            width="48"
            height="48"
          />
        </a>
      </li>
      <li>
        <a href="#" title="caitlinburke">
          <img
            class="avatar--img"
            src="https://mltshp-production.s3.amazonaws.com/account/109/profile.jpg"
            width="48"
            height="48"
          />
        </a>
      </li>
      <li>
        <a href="#" title="anildash">
          <img
            class="avatar--img"
            src="https://mltshp-production.s3.amazonaws.com/account/187/profile.jpg"
            width="48"
            height="48"
          />
        </a>
      </li>
      <li>
        <a href="#" title="jessamyn">
          <img
            class="avatar--img"
            src="https://mltshp-production.s3.amazonaws.com/account/417/profile.jpg"
            width="48"
            height="48"
          />
        </a>
      </li>
      <li>
        <a href="#" title="bradchoate">
          <img
            class="avatar--img"
            src="https://mltshp-production.s3.amazonaws.com/account/427/profile.jpg"
            width="48"
            height="48"
          />
        </a>
      </li>
      <li>
        <a href="#" title="nataliepo">
          <img
            class="avatar--img"
            src="https://mltshp-production.s3.amazonaws.com/account/507/profile.jpg"
            width="48"
            height="48"
          />
        </a>
      </li>
      <li>
        <a href="#" title="drewtoothpaste">
          <img
            class="avatar--img"
            src="https://mltshp-production.s3.amazonaws.com/account/533/profile.jpg"
            width="48"
            height="48"
          />
        </a>
      </li>
    </ul>
    <br style="clear: both;" />
    <a class="view-all-following" href="#">view all</a>
  </div>
</div>
