//
// Blue Theme
// This is really just the Light Theme with a blue background forced until I
// get the proper blue background added. Then this theme should be removed. -SV
//
.t-blue {
  --color-page-bg: var(--color-page-bg-light);
  --color-page-bg-secondary: var(--color-gray-100);
  --color-page-text: var(--color-text-dark);
  --color-page-text-emphasis: var(--color-text-dark-emphasis);
  --color-page-text-secondary: var(--color-text-dark-secondary);
  --color-border-default: var(--color-gray-300);
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --letter-spacing: normal;
  --color-bg-primary-brand-pastel: var(--color-primary-brand-pastel-light);
  --color-bg-secondary-brand-pastel: var(--color-page-bg-blue);
  --color-bg-success-pastel: var(--color-success-pastel-very-light);
  --color-bg-danger-pastel: var(--color-danger-pastel-light);
  --color-bg-warning-pastel: var(--color-highlight);
  background-color: var(--color-page-bg-blue);
}
