@mixin darkmode() {
  --color-page-bg: var(--color-page-bg-dark);
  --color-page-bg-secondary: var(--color-gray-900);
  --color-page-text: var(--color-text-light);
  --color-page-text-emphasis: var(--color-text-light-emphasis);
  --color-page-text-secondary: var(--color-text-light-secondary);
  --color-border-default: var(--color-gray-700);
  --font-weight-bold: 600;
  --font-weight-normal: 300;
  --letter-spacing: 0.025em;
}

:root {
  @media screen and (prefers-color-scheme: dark) {
    @include darkmode();
  }
}

// note this only really works on the `html` or `body` elements.
.t-dark {
  @include darkmode();
}
