@use '../compiled/scss/tokens'; // import tokens as SCSS variables

//
// Dark Mode
// A lovely dark mode theme. Can be applied via `.t-dark` or automatically
// via the `prefers-color-scheme` media query.
//
// 1. Use a lighter font weight and increased letter-spacing
//    @see https://css-tricks.com/?p=306566
//

/* prettier-ignore */
@mixin darkmode() {
  --color-background-page: var(--color-background-page-dark);
  --color-background-content: var(--color-background-content-dark);
  --color-background-content-secondary: var(--color-base-gray-900);
  --color-page-text: var(--color-text-light);
  --color-page-text-emphasis: var(--color-text-light-emphasis);
  --color-page-text-secondary: var(--color-text-light-secondary);
  --color-border-default: var(--color-base-gray-700);
  --color-border-form: var(--color-base-gray-800);
  --color-border-focus-ring: #{rgba(tokens.$color-brand-secondary, 0.4)};
  --color-form-bg: var(--color-background-content-secondary);
  --color-form-error-bubble-bg: var(--color-base-gray-800);
  --color-form-error-bubble-text: var(--color-status-danger);
  --number-font-weight-bold: 600; // 1
  --number-font-weight-normal: 300; // 1
  --letter-spacing: 0.025em; // 1
  --color-bg-primary-brand-pastel: #{rgba(tokens.$color-brand-primary, 0.1)};
  --color-bg-secondary-brand-pastel: #{rgba(tokens.$color-brand-secondary, 0.1)};
  --color-bg-success-pastel: #{rgba(tokens.$color-status-success, 0.1)};
  --color-bg-danger-pastel: #{rgba(tokens.$color-status-danger, 0.1)};
  --color-bg-warning-pastel: #{rgba(tokens.$color-status-warning, 0.1)};

  // BUTTONS

  // primary
  --color-background-button-primary: var(--color-brand-primary-dark);
  --color-background-button-primary-hover: var(--color-brand-primary);
  --color-background-button-primary-pastel: var(--color-brand-primary-pastel-dark);
  --color-background-button-primary-pastel-hover: var(--color-brand-primary-pastel-light);
  --color-text-button-primary-pastel: var(--color-text-light-emphasis);
  --color-text-button-primary-pastel-hover: var(--color-brand-primary-pastel-dark);

  // secondary
  --color-background-button-secondary: var(--color-brand-secondary-dark);
  --color-background-button-secondary-hover: var(--color-brand-secondary);
  --color-background-button-secondary-pastel: var(--color-brand-secondary-pastel-dark);
  --color-background-button-secondary-pastel-hover: var(--color-brand-secondary-pastel-light);
  --color-text-button-secondary-pastel: var(--color-text-light-emphasis);
  --color-text-button-secondary-pastel-hover: var(--color-brand-secondary-pastel-dark);

  // success
  --color-background-button-success: var(--color-status-success-dark);
  --color-background-button-success-hover: var(--color-status-success);
  --color-background-button-success-pastel: var(--color-status-success-pastel-dark);
  --color-background-button-success-pastel-hover: var(--color-status-success-pastel-light);
  --color-text-button-success-pastel: var(--color-text-light-emphasis);
  --color-text-button-success-pastel-hover: var(--color-status-success-pastel-dark);

  // warning
  --color-background-button-warning: var(--color-status-warning-dark);
  --color-background-button-warning-hover: var(--color-status-warning);
  --color-background-button-warning-pastel: var(--color-status-warning-pastel-dark);
  --color-background-button-warning-pastel-hover: var(--color-status-warning-pastel-light);
  --color-text-button-warning-pastel: var(--color-text-light-emphasis);
  --color-text-button-warning-pastel-hover: var(--color-status-warning-pastel-dark);

  // danger
  --color-background-button-danger: var(--color-status-danger-dark);
  --color-background-button-danger-hover: var(--color-status-danger);
  --color-background-button-danger-pastel: var(--color-status-danger-pastel-dark);
  --color-background-button-danger-pastel-hover: var(--color-status-danger-pastel-light);
  --color-text-button-danger-pastel: var(--color-text-light-emphasis);
  --color-text-button-danger-pastel-hover: var(--color-status-danger-pastel-dark);

  // CHOOSE SHAKE LINKS
  --color-background-choose-shake-link: var(--color-background-button-success);
  --color-background-choose-shake-link-hover: var(--color-background-button-success-pastel-hover);
  --color-text-choose-shake-link: var(--color-text-light-emphasis);
  --color-text-choose-shake-link-hover: var(--color-text-button-success-pastel-hover);
}

:root {
  @media screen and (prefers-color-scheme: dark) {
    @include darkmode();
  }
}

// note this only really works on the `html` or `body` elements.
.t-dark {
  @include darkmode();
  background-color: var(--color-background-page);
  color: var(--color-page-text);
}
