@use "../design-tokens/colors.yml";

//
// Light Mode
// This is the default theme for the site. Can also be applied via `.t-light` or
// automatically via the `prefers-color-scheme` media query.
//
@mixin lightmode() {
  --color-page-bg: var(--color-page-bg-light);
  --color-page-bg-secondary: var(--color-gray-100);
  --color-page-text: var(--color-text-dark);
  --color-page-text-emphasis: var(--color-text-dark-emphasis);
  --color-page-text-secondary: var(--color-text-dark-secondary);
  --color-border-default: var(--color-gray-300);
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --letter-spacing: normal;
  --color-bg-primary-brand-pastel: var(--color-primary-brand-pastel-light);
  --color-bg-secondary-brand-pastel: var(--color-page-bg-blue);
  --color-bg-success-pastel: #dfffcb; // TODO: make this a token
  --color-bg-danger-pastel: var(--color-danger-pastel-light);
  --color-bg-warning-pastel: var(--color-highlight);
}

:root {
  @media screen and (prefers-color-scheme: light) {
    @include lightmode();
  }
}

// note this only really works on the `html` or `body` elements.
.t-light {
  @include lightmode();
}
