<footer class="site-footer">
	<p>
		<a href="#" target="_blank" class="link--primary">Read Our Blog</a>
		&amp;
		<a href="#" target="_blank" class="link--primary">Follow Us On Twitter</a>
	</p>
	<p>
		Are you a developer?
		<a href="#" class="link--primary">Check out our API</a>.
	</p>
	<p>© <a href="#">MLTSHP, Inc.</a> All Rights Reserved<br /></p>
	<p>
		&nbsp; <a href="#">Terms of Use</a> &nbsp;
		<a href="#">Code of Conduct</a> &nbsp; <a href="#">Contact Us</a> &nbsp;
		<a href="#">@best_of_mltshp</a>
	</p>
	<p>
		<a href="#">Follow The MLTSHP User!</a>
	</p>
</footer>
