<ol class="shake-list">
  <li class="shake-list--shake">
    <div class="shake-list--thumb">
      <img
        src="https://mltshp-production.s3.amazonaws.com/account/11525/shake_vintagecostume_small.jpg"
        width="48"
        height="48"
      />
    </div>
    <div class="shake-list--description">
      <a href="#" target="_blank">fantastic Internet art</a>
      <p>coffee. coffee now.</p>
    </div>
    <div class="shake-list--recommend">
      <a class="btn btn-small btn-pastel btn-primary" href="#">edit</a>
    </div>
  </li>

  <li class="shake-list--shake">
    <div class="shake-list--thumb">
      <img
        src="https://mltshp-production.s3.amazonaws.com/account/63/shake_commute_small.jpg"
        width="48"
        height="48"
      />
    </div>
    <div class="shake-list--description">
      <a href="#" target="_blank">[commute]</a>
      <p>How’d you get here?</p>
    </div>
    <div class="shake-list--recommend">
      <a class="btn btn-small btn-pastel btn-primary" href="#">edit</a>
    </div>
  </li>

  <li class="shake-list--shake">
    <div class="shake-list--thumb">
      <img
        src="https://mltshp-production.s3.amazonaws.com/account/3416/shake_80085_small.jpg"
        width="48"
        height="48"
      />
    </div>
    <div class="shake-list--description">
      <a href="#" target="_blank">Vintage Costume</a>
      <p>Spangles, Sparkles and Oddness, O My!</p>
    </div>
    <div class="shake-list--recommend">
      <a class="btn btn-small btn-pastel btn-primary" href="#">edit</a>
    </div>
  </li>
</ol>
