@use '../../../base/links';
@use '../../../init/mixins';

//
// Notification Block
//
.notification-block {
  background: var(--color-background-content-secondary);
  border-radius: var(--size-border-radius-large);
  margin-bottom: var(--size-spacing-double);
}

.notification-block-link a {
  display: block;
  font-weight: var(--number-font-weight-bold);
  padding: var(--size-spacing-half-again);
  text-decoration: none;
}

.notification-block-hd {
  cursor: pointer;
  font-weight: var(--number-font-weight-bold);
  padding: var(--size-spacing-half-again);
}

.notification-block-bd {
  display: none;
  padding: 0 var(--size-spacing-default) var(--size-spacing-default);

  .notification {
    @include mixins.breakword;
    background-color: var(--color-background-content);
    border-radius: var(--size-border-radius-large);
    color: var(--color-page-text);
    font-size: 0.875rem;
    padding: var(--size-spacing-default);
    position: relative;

    &::after {
      clear: both;
      content: '';
      display: table;
    }

    + .notification {
      margin-top: var(--size-spacing-default);
    }

    .notification-close {
      outline: none;
      position: absolute;
      right: var(--size-spacing-half);
      top: var(--size-spacing-half);
    }

    .thumb {
      float: left;
      padding-right: var(--size-spacing-default);
      text-align: center;
      width: var(--size-avatar-large);
    }

    .context {
      font-size: 0.75rem;
      overflow: hidden;
    }
  }

  .clear-all {
    clear: both;
    margin-top: var(--size-spacing-default);
    text-align: right;
  }
}

//
// Notificiation Block Color Modifiers
//
.notification-block-follow {
  background-color: var(--color-bg-secondary-brand-pastel);
  color: var(--color-brand-primary);
}

.notification-block-save {
  background-color: var(--color-bg-warning-pastel);
  color: var(--color-status-warning-pastel-dark);
}

.notification-block-like {
  background-color: var(--color-bg-danger-pastel);
  color: var(--color-status-danger-pastel-dark);
}

.notification-block-comment {
  background-color: var(--color-bg-secondary-brand-pastel);
  color: var(--color-brand-secondary);
}

.notification-block-shakeinvitation {
  background-color: var(--color-bg-success-pastel);
  color: var(--color-status-success-pastel-dark);
}

.notification-block-invitation-request {
  background-color: var(--color-bg-success-pastel);
  color: var(--color-status-success-pastel-dark);
}

.notification-block-invitation-approved {
  background-color: var(--color-bg-success-pastel);
  color: var(--color-status-success-pastel-dark);
}

.notification-block-aggregate {
  background-color: var(--color-bg-secondary-brand-pastel);
  color: var(--color-brand-primary);
}

//
// Notification block for new followers
//
.notification-block-follow .notification {
  padding-right: var(--size-spacing-triple);
}

//
// Shake Invitation Notifications
//
/* stylelint-disable-next-line no-duplicate-selectors */
.notification-block-shakeinvitation {
  .shake-thumb {
    float: left;
    margin-right: var(--size-spacing-default);
    width: var(--size-avatar-default);

    a {
      display: block;
    }
  }

  h4 {
    padding-top: var(--size-spacing-default);
  }

  .shake-context {
    clear: both;
    margin-top: var(--size-spacing-default);

    a {
      @include links.link-primary;
      @include links.link-emphasized;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: var(--size-spacing-default);
  }

  .content-shake & {
    margin-top: var(--size-spacing-double);
  }
}

//
// Shake Invitation Request Notifications
//
.notification-block-invitation-request .notification a {
  @include links.link-primary;
  @include links.link-emphasized;
}

.notification-block-invitation-request .notification-actions {
  clear: both;
  display: flex;
  justify-content: space-between;
  margin-top: var(--size-spacing-default);
}

//
// Site Announcement Notifications
//
.notification-block-tou .notification-block-link a {
  color: var(--color-page-text-emphasis);

  &:hover,
  &:focus {
    color: var(--color-text-link-hover);
  }
}
