@use '../../../compiled/scss/tokens';

.pagination {
  background-color: var(--color-bg-secondary-brand-pastel);
  border-radius: var(--size-border-radius-large);
  font-size: 0.875rem;
  font-weight: var(--number-font-weight-bold);
  margin: var(--size-spacing-quadruple);
  padding: var(--size-spacing-default);

  a,
  .current {
    padding: 0 var(--size-spacing-half);
  }

  // stylelint-disable selector-no-qualifying-type
  span.next-link,
  span.previous-link {
    color: var(--color-page-text-secondary);
  }

  .previous-link {
    flex-basis: 50%;

    @media screen and (min-width: tokens.$size-breakpoint-md) {
      flex-basis: auto;
      margin-right: auto;
    }
  }

  .next-link {
    flex-basis: 50%;
    text-align: right;

    @media screen and (min-width: tokens.$size-breakpoint-md) {
      flex-basis: auto;
      margin-left: auto;
      order: 1;
    }
  }
}

.pagination-inner {
  align-items: center;
  background-color: var(--color-background-content);
  border-radius: var(--size-border-radius-large);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--size-spacing-default);

  @media screen and (min-width: tokens.$size-breakpoint-md) {
    flex-wrap: none;
  }
}

.linear-navigation {
  display: flex;
  justify-content: space-between;
  padding: var(--size-spacing-triple) var(--size-spacing-quadruple);

  .newer a,
  .older a {
    display: block;
  }
}
