<h4 class="shake-details-title">In These Shakes</h4>
<div class="in-these-shakes">
	<ul>
		<li>
			<a href="#">Mazen Kerbaj</a>
		</li>
		<li>
			<form class="delete-from-shakes-form">
				<button
					title="Delete from shake"
					class="btn btn-warning btn-pastel btn-icon btn-tiny"
					type="submit"
					value="delete"
				>
					✕
				</button>
			</form>
			<a href="#">Your Shake</a>
		</li>
		<li>
			<form class="delete-from-shakes-form">
				<button
					title="Delete from shake"
					class="btn btn-warning btn-pastel btn-icon btn-tiny"
					type="submit"
					value="delete"
				>
					✕
				</button>
			</form>
			<a href="#">Barbarella</a>
		</li>
	</ul>
</div>
