<div class="shake-sidebar-actions">
	<div class="user-follow">
		<a class="icon" href="/backgrounds">
			<img
				class="avatar--img"
				src="https://mltshp-production.s3.amazonaws.com/account/781/shake_dune.jpg"
				width="100"
				height="100"
			/>
		</a>
		<div class="follow">
			<h4><a href="#">dune</a></h4>
			<form>
				<a href="" class="submit-form btn btn-secondary btn-pastel btn-small"
					>+ Follow</a
				>
			</form>
		</div>
	</div>
	<div class="user-follow">
		<a class="icon" href="#">
			<img
				class="avatar--img"
				src="https://mltshp-production.s3.amazonaws.com/account/781/shake_dune.jpg"
				width="100"
				height="100"
			/>
		</a>
		<div class="follow">
			<h4><a href="#">dune</a></h4>
			<form>
				<a href="#" class="submit-form btn btn-warning btn-pastel btn-small"
					>- Unfollow</a
				>
			</form>
		</div>
	</div>
	<div id="request-invitation" class="request-invitation">
		<form>
			<input
				class="btn btn-success btn-pastel btn-small"
				type="submit"
				value="+ Join this shake"
			/>
		</form>
	</div>
	<div class="quit-shake">
		<form>
			<input
				class="btn btn-danger btn-pastel btn-small"
				type="submit"
				id="quit-shake-page"
				value="Quit this shake?"
			/>
		</form>
	</div>
</div>
