<div class="timehop-block">
  <h3 style="">Top Posts of Yores</h3>
  <ul class="timehop-block__thumb-grid">
    <li>
      <h4>1 year ago</h4>
      <a href="/incoming/before/D">
        <img
          src="https://mltshp-cdn.com/r/1RCOC?width=100"
          loading="lazy"
          decoding="async"
          alt="No alt provided"
        />
      </a>
    </li>
    <li>
      <h4>2 years ago</h4>
      <a href="/incoming/before/B">
        <img
          src="https://mltshp-cdn.com/r/1JN8G?width=100"
          loading="lazy"
          decoding="async"
          alt="Some alt text!"
        />
      </a>
    </li>
    <li>
      <h4>5 years ago</h4>
      <div class="timehop-block__placeholder"></div>
    </li>
    <li>
      <h4>10 years ago</h4>
      <a href="/incoming/before/4">
        <img
          src="https://mltshp-cdn.com/r/1NJQ8?width=100"
          loading="lazy"
          decoding="async"
          alt="foo bar"
        />
      </a>
    </li>
  </ul>
</div>
