.user-counts {
  background-color: var(--color-border-default);
  border-radius: var(--spacing-default);
  clear: both;
  margin-bottom: var(--spacing-double);
  padding: var(--spacing-half-again);

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    background-color: var(--color-page-bg);
    border-radius: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: var(--spacing-default);
    padding: var(--spacing-default) 0;
    text-align: center;
    width: 70px; // magic number that works in the sidebar

    .num {
      display: block;
      font-size: 1.125rem;
      font-weight: var(--font-weight-bold);
    }

    .label {
      display: block;
      font-size: 0.875rem;
    }
  }

  .views {
    width: 95px; // magic number to give views more space than other cells
  }

  .saves {
    color: var(--color-warning);
  }

  .likes {
    color: var(--color-danger);
    margin-right: 0;
  }
}
