---
layout: base
iframe: true
---

<div class="new-post-panel" style="display: block">
	<div class="new-post-panel--inner">
		<div class="content">
			<h2>Post a Video</h2>
			<p>
				To post a video enter the URL to the video below. We currently support
				videos from YouTube, Flickr, &amp; Vimeo.
			</p>
			<form class="fun-form save-video-form">
				<div class="field-input"><input name="url" class="input-text" /></div>
				<a class="btn btn-primary btn-shadow" href="">Go get it!</a>
			</form>
		</div>
	</div>
</div>
