<nav id="site-nav" class="site-nav">
	<button
		type="button"
		class="site-nav--toggle btn btn-warning btn-pastel btn-icon"
	>
		☰
	</button>
	<ul class="site-nav--list">
		<li class="site-nav--item site-nav--shake-list">
			<div id="choose-a-shake" class="choose-a-shake">
				<button
					type="button"
					class="choose-a-shake--toggle btn btn-success btn-pastel"
				>
					Shakes
					<span class="caret"></span>
				</button>
				<div class="choose-a-shake--dropdown">
					<ul class="top-shakes">
						<li><a href="#">Friend Shake</a></li>
						<li><a href="#">Your Shake</a></li>
						<li><a href="#">Your Favorites</a></li>
						<li><a href="#">Popular</a></li>
						<li><a href="#">Incoming!!!</a></li>
					</ul>
					<ul class="group-shakes">
						<li>
							<a href="#"
								>Shake for Long Names Like
								Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch</a
							>
						</li>
						<li><a href="#">Barbarella</a></li>
						<li><a href="#">Dune</a></li>
					</ul>
				</div>
			</div>
		</li>
		<li class="site-nav--item site-nav--conversations">
			<a class="btn btn-success btn-pastel" href="#">Conversations</a>
		</li>
		<li class="site-nav--item site-nav--search">
			<a class="btn btn-success btn-pastel" href="#">Search</a>
		</li>
		<li class="site-nav--item site-nav--upload">
			<a id="new-post-button" class="btn btn-primary btn-shadow" href=""
				>New Post</a
			>
		</li>
	</ul>
</nav>
