.styleguide-example {
	border: 1px solid var(--color-border-default);
	border-radius: 4px;
	margin: 1em 0;
	padding: 1em;
}

.styleguide-example__preview {
	display: flow-root; /* clearfix */
}

.styleguide-example__iframe {
	border: none;
	display: block;
	overflow: scroll;
	resize: both;
	width: 100%;
}
