<div class="shake-image is-editable">
	<img
		src="https://mltshp-cdn.com/s3/account/7367/shake_long-names-like-Llanfairp.jpg"
		width="284"
		height="284"
	/>
	<form>
		<input class="shake-image-input" type="file" name="file" />
	</form>
	<div class="border"></div>
</div>
<div class="shake-details is-editable">
	<h3 class="title shake-edit-title">
		Shake for Long Names Like
		Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch
	</h3>
	<form class="shake-edit-title-form">
		<input type="text" class="shake-edit-title-input" name="title" value="" />
		<div class="buttons">
			<input
				type="submit"
				class="save btn btn-primary btn-small"
				value="Save"
			/>
			<span class="or">or</span>
			<a href="" class="cancel btn btn-secondary btn-small">Cancel</a>
		</div>
	</form>
</div>
<div class="shake-details is-editable">
	<!-- prettier-ignore -->
	<p class="description shake-edit-description"
    ><span class="content">This is a shake specifically for posts with really long names that might cause layout problems like Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch and Taumatawhakatangihangakoauauotamateaturipukakapikimaungahoronukupokaiwhenuakitanatahu</span>
  </p>
	<form class="shake-edit-description-form">
		<textarea
			class="shake-edit-description-input"
			name="description"
		></textarea>
		<div class="buttons">
			<input
				type="submit"
				class="save btn btn-primary btn-small"
				value="Save"
			/>
			<span class="or">or</span>
			<a href="" class="cancel btn btn-secondary btn-small">Cancel</a>
		</div>
	</form>
</div>
