<div id="shake-image-edit" class="shake-image is-editable">
	<div class="shake-image-placeholder">
		<p><strong>Upload an image</strong> to represent your shake.</p>
		<p>284px &times; 284px</p>
	</div>
	<form>
		<input class="shake-image-input" type="file" name="file" />
	</form>
	<div class="border"></div>
</div>
<div class="shake-details is-editable">
	<h3 class="title shake-edit-title">Shake Name</h3>
	<form class="shake-edit-title-form">
		<input type="text" class="shake-edit-title-input" name="title" value="" />
		<div class="buttons">
			<input
				type="submit"
				class="save btn btn-primary btn-small"
				value="Save"
			/>
			<span class="or">or</span>
			<a href="" class="cancel btn btn-secondary btn-small">Cancel</a>
		</div>
	</form>
</div>
<div class="shake-details is-editable">
	<p class="description shake-edit-description">
		<span class="placeholder">Click to edit description</span>
	</p>
	<form class="shake-edit-description-form">
		<textarea
			class="shake-edit-description-input"
			name="description"
		></textarea>
		<div class="buttons">
			<input
				type="submit"
				class="save btn btn-primary btn-small"
				value="Save"
			/>
			<span class="or">or</span>
			<a href="" class="cancel btn btn-secondary btn-small">Cancel</a>
		</div>
	</form>
</div>
