@use "../../../compiled/scss/tokens";

.feature-list {
  @media screen and (min-width: tokens.$size-breakpoint-md) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: tokens.$size-breakpoint-lg) {
    flex-wrap: nowrap;
  }

  @media screen and (min-width: tokens.$size-breakpoint-xl) {
    flex-wrap: wrap;
  }
}

.feature {
  border-top: 1px dashed var(--color-border-default);
  margin: 0;
  padding: var(--size-spacing-half-again);
  position: relative;

  @media screen and (min-width: tokens.$size-breakpoint-md) {
    border-left: 1px dashed var(--color-border-default);
    flex: 1 1 50%;
  }

  @media screen and (min-width: tokens.$size-breakpoint-lg) {
    flex-basis: 25%;
    padding: calc(var(--size-spacing-default) * 2.5);
  }

  @media screen and (min-width: tokens.$size-breakpoint-xl) {
    display: flex;
    flex-basis: 50%;
    flex-direction: row-reverse;
    padding: calc(var(--size-spacing-default) * 3.5);
  }

  &:first-child {
    @media screen and (min-width: tokens.$size-breakpoint-lg) {
      border-left: none;
    }
  }

  &:nth-child(2n - 1) {
    @media screen and (min-width: tokens.$size-breakpoint-md) and (max-width: tokens.$size-breakpoint-lg - 1) {
      border-left: none;
    }

    @media screen and (min-width: tokens.$size-breakpoint-xl) {
      border-left: none;
    }
  }

  > * + * {
    margin-top: var(--size-spacing-half-again);

    @media screen and (min-width: tokens.$size-breakpoint-lg) {
      margin-top: calc(var(--size-spacing-default) * 2.5);
    }

    @media screen and (min-width: tokens.$size-breakpoint-xl) {
      margin-right: var(--size-spacing-double);
      margin-top: 0;
    }
  }
}

.feature--content {
  @media screen and (min-width: tokens.$size-breakpoint-xl) {
    flex: 1 1 auto;
  }
}

.feature--image {
  @media screen and (min-width: tokens.$size-breakpoint-xl) {
    flex: 0 0 163px; // 158px image + 2px border + 3px shadow
  }
}

.feature--image-media {
  border: 1px solid var(--color-border-default);
  box-shadow: 3px 3px 0 var(--color-base-black-transparent-100);
  display: block;
  margin: 0 auto;
}

.feature--title {
  color: var(--color-page-text-emphasis);
  font-size: 1.375rem;
  margin: 0;
  text-align: center;

  @media screen and (min-width: tokens.$size-breakpoint-lg) {
    text-align: left;
  }
}

.feature--body {
  color: var(--color-page-text);
  font-size: 0.875rem;
  line-height: 1.25;
  margin: var(--size-spacing-default) 0 0;

  p {
    margin: 0;

    + p {
      margin-top: 1.25em;
    }
  }
}

.feature--cta {
  text-align: center;
}

// primary modifier
// finale modifier
.feature--primary,
.feature--finale {
  .feature--image-media {
    border: none;
    box-shadow: none;
  }
}

// primary modifier: for the first feature in the list, bigger
.feature--primary {
  border: none;

  > * {
    @media screen and (min-width: tokens.$size-breakpoint-xl) {
      flex: 1;
    }
  }

  > * + * {
    @media screen and (min-width: tokens.$size-breakpoint-xl) {
      margin-right: 70px;
    }
  }

  .feature--title {
    font-size: 2.625rem; // 42px
    letter-spacing: -3px;
    line-height: 90%;

    @media screen and (min-width: tokens.$size-breakpoint-lg) {
      font-size: 3.75rem; // 60px
    }

    @media screen and (min-width: tokens.$size-breakpoint-xl) {
      font-size: 4.5rem; // 72px
    }
  }

  .feature--body {
    color: var(--color-page-text-secondary);
    margin-top: 1.25em;
  }
}

// finale modifier: for the last feature in the list
.feature--finale {
  align-items: center;

  @media screen and (min-width: tokens.$size-breakpoint-xl) {
    padding-left: 150px;
    padding-right: 150px;
  }

  .feature--image {
    flex: none;
  }
}

// flipped modifier: image on the left
.feature--flipped {
  @media screen and (min-width: tokens.$size-breakpoint-xl) {
    flex-direction: row;
  }

  > * + * {
    @media screen and (min-width: tokens.$size-breakpoint-xl) {
      margin-left: var(--size-spacing-double);
      margin-right: 0;
    }
  }

  &.feature--primary > * + * {
    @media screen and (min-width: tokens.$size-breakpoint-xl) {
      margin-left: 70px;
    }
  }
}
