<div class="image-content-list">
	<div class="image-title image-title-with-poster">
		<div class="image-poster">
			<a href="#" title="spaceninja">
				<img
					class="avatar--img"
					src="https://mltshp-cdn.com/s3/account/7367/profile.jpg"
					width="48"
					height="48"
					alt=""
				/>
			</a>
		</div>
		<h3>Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch</h3>
	</div>
	<div class="image-content">
		<div class="the-image">
			<a href="#"
				><img
					src="https://mltshp-cdn.com/r/1BG3N"
					alt="Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch"
			/></a>
		</div>
		<div class="image-content-footer">
			<div class="description">
				<div class="the-description">
					source:
					<a
						href="#"
						target="_blank"
						rel="nofollow"
						title="https://en.wikipedia.org/w/index.php?title=Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch&amp;redirect=no"
						>https://en.wikipedia.org/w...</a
					><br /><br />Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch<br /><br />Llanfairpwllgwyngyll
					or Llanfair Pwllgwyngyll (pronounced [ɬanˌvair puɬˈɡwɨ̞nɡɨ̞ɬ]) is a
					large village and community on the island of Anglesey in Wales,
					situated on the Menai Strait next to the Britannia Bridge and across
					the strait from Bangor. It is alternatively known as Llanfairpwll,
					Llanfair PG, or
					Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch.<br /><br />At
					the 2001 census, the population of the community was 3,040,[1] 76% of
					whom spoke Welsh fluently; the highest percentage of speakers were in
					the 10–14 age group, where 97.1% spoke Welsh.[citation needed] By the
					time of the 2011 Census the population had increased to 3,107, of whom
					70.62% were able to speak Welsh.[2] It is the sixth largest settlement
					on the island by population.<br /><br />The long form of the name was
					invented for promotional purposes in the 1860s; with 58 characters it
					is the longest place name in Europe and the second longest official
					one-word place name in the world.[3]<br /><br />They also claim to
					have the world’s longest domain name at 70 characters:
					<a
						href="#"
						target="_blank"
						rel="nofollow"
						title="http://llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogochuchaf.com/"
						>http://llanfairpwllgwyngyllgog...</a
					>
				</div>
			</div>
			<div class="image-interactions"></div>
			<div class="inline-meta">
				<span class="created-at">
					<a href="#">
						<time
							datetime="2017-05-16 23:58:48"
							title="Tue, 16 May 2017 23:58:48 "
							>3 years ago</time
						>
					</a>
				</span>
				<ul class="stats">
					<li class="views">156 Views</li>
					<li class="saves"><a href="#">0</a></li>
					<li class="likes"><a href="#">3</a></li>
					<li class="comments selected"><a href="#">3</a></li>
				</ul>
			</div>
			<div class="inline-details">
				<div class="comment">
					<div class="avatar">
						<a href="#">
							<img
								class="avatar--img"
								src="https://mltshp-cdn.com/s3/account/7367/profile.jpg"
								height="30"
								width="30"
								alt=""
							/>
						</a>
					</div>
					<div class="comment-body">
						<div class="meta">
							<a class="user-name username link--primary" href="#"
								>spaceninja</a
							>
							<a class="pro-badge" href="#">
								<img
									alt="pro"
									src="https://mltshp-cdn.com/static/images/icon_plus.svg?v=dabd5508e1560e2bdcc7356c85ea8f10"
									width="12"
									height="12"
									border="0"
									valign="center"
								/>
							</a>
							<span class="created-at">
								<time
									datetime="2017-05-16 23:59:30"
									title="Tue, 16 May 2017 23:59:30 "
									>3 years ago</time
								>
							</span>
							<a class="reply-to" href="#">Reply</a>
							<form class="delete-form"></form>
							<a href="#" class="delete link--danger">Delete</a>
						</div>
						<div class="comment-body-text">
							source:
							<a
								href="#"
								rel="nofollow"
								target="_blank"
								title="https://en.wikipedia.org/w/index.php?title=Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch&amp;redirect=no"
								>https://en.wikipedia.org/w...</a
							>
							<br />
							<br />Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch
							<br />
							<br />Llanfairpwllgwyngyll or Llanfair Pwllgwyngyll (pronounced
							[ɬanˌvair puɬˈɡwɨ̞nɡɨ̞ɬ]) is a large village and community on the
							island of Anglesey in Wales, situated on the Menai Strait next to
							the Britannia Bridge and across the strait from Bangor. It is
							alternatively known as Llanfairpwll, Llanfair PG, or
							Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch.
							<br />
							<br />At the 2001 census, the population of the community was
							3,040,[1] 76% of whom spoke Welsh fluently; the highest percentage
							of speakers were in the 10–14 age group, where 97.1% spoke
							Welsh.[citation needed] By the time of the 2011 Census the
							population had increased to 3,107, of whom 70.62% were able to
							speak Welsh.[2] It is the sixth largest settlement on the island
							by population. <br />
							<br />The long form of the name was invented for promotional
							purposes in the 1860s; with 58 characters it is the longest place
							name in Europe and the second longest official one-word place name
							in the world.[3]
						</div>
					</div>
				</div>
				<div class="comment">
					<div class="avatar">
						<a href="#">
							<img
								class="avatar--img"
								src="https://mltshp-cdn.com/s3/account/67/profile.jpg"
								height="30"
								width="30"
								alt=""
							/>
						</a>
					</div>
					<div class="comment-body">
						<div class="meta">
							<a class="user-name username link--primary" href="#">tonyb</a>
							<a class="pro-badge" href="#">
								<img
									alt="pro"
									src="https://mltshp-cdn.com/static/images/icon_plus.svg?v=dabd5508e1560e2bdcc7356c85ea8f10"
									width="12"
									height="12"
									border="0"
									valign="center"
								/>
							</a>
							<span class="created-at">
								<time
									datetime="2017-05-17 03:59:12"
									title="Wed, 17 May 2017 03:59:12 "
									>3 years ago</time
								>
							</span>
							<a class="reply-to" href="#">Reply</a>
							<form class="delete-form"></form>
							<a href="#" class="delete link--danger">Delete</a>
						</div>
						<div class="comment-body-text">Give kindly to Vowels for Wales</div>
					</div>
				</div>
				<div class="comment">
					<div class="avatar">
						<a href="#">
							<img
								class="avatar--img"
								src="https://mltshp-cdn.com/s3/account/417/profile.jpg"
								height="30"
								width="30"
								alt=""
							/>
						</a>
					</div>
					<div class="comment-body">
						<div class="meta">
							<a class="user-name username link--primary" href="#">jessamyn</a>
							<a class="pro-badge" href="#">
								<img
									alt="pro"
									src="https://mltshp-cdn.com/static/images/icon_plus.svg?v=dabd5508e1560e2bdcc7356c85ea8f10"
									width="12"
									height="12"
									border="0"
									valign="center"
								/>
							</a>
							<span class="created-at">
								<time
									datetime="2017-05-21 00:42:17"
									title="Sun, 21 May 2017 00:42:17 "
									>3 years ago</time
								>
							</span>
							<a class="reply-to" href="#">Reply</a>
							<form class="delete-form"></form>
							<a href="#" class="delete link--danger">Delete</a>
						</div>
						<div class="comment-body-text">
							This SHK breaks admin stuff, ye monster!
						</div>
					</div>
				</div>
				<div class="post-comment-inline">
					<form class="post-comment-form">
						<textarea name="body">Write a comment…</textarea>
						<div class="button">
							<input
								class="submit-comment-button btn btn-primary btn-small"
								type="submit"
								value="Post It!"
							/>
						</div>
					</form>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
