<div class="content-permalink">
	<div class="image-title">
		<h1>Star Wars Zoom Backgrounds</h1>
		<div class="clear"></div>
	</div>
	<div class="image-content">
		<div class="the-image">
			<a href="#"
				><img src="//mltshp-cdn.com/r/1IGIU" alt="Star Wars Zoom Backgrounds"
			/></a>
		</div>
		<div class="image-content-footer">
			<div class="alt-text alt-text--hidden">
				<div class="alt-text-toggle link link--primary">alt text</div>
			</div>
			<div class="description">
				<div class="the-description">
					Star Wars is jumping on the Zoom background train. I’m looking forward
					to showing how clean I’ve kept my office with this one.<br /><br />You
					can find more at
					<a
						href="#"
						target="_blank"
						rel="nofollow"
						title="https://www.starwars.com/news/star-wars-backgrounds"
						>https://www.starwars.com/news...</a
					>
				</div>
			</div>
			<div class="image-interactions">
				<div class="like-this">
					<form>
						<button
							type="button"
							class="like-button btn btn-danger btn-small is-active"
						>
							<div class="btn--content">
								<img
									class="btn--icon"
									src="https://mltshp-cdn.com/static/images/like-this.svg"
									alt=""
								/>
								<span class="btn--text">Like</span>
							</div>
						</button>
						<button
							type="button"
							class="unlike-button"
							title="Unlike This"
							aria-label="Unlike This"
						>
							<img
								src="https://mltshp-cdn.com/static/images/liked-this.svg"
								height="22"
								width="25"
								alt="Unlike This"
							/>
						</button>
					</form>
				</div>
				<div class="save-this">
					<form>
						<button
							type="button"
							class="save-this-link save-this-link-multiple btn btn-warning btn-small"
						>
							<div class="btn--content">
								<img
									class="btn--icon"
									src="https://mltshp-cdn.com/static/images/save-this.svg"
									alt=""
								/>
								<span class="btn--text">Save</span>
								<span class="btn--caret">▼</span>
							</div>
						</button>
					</form>
				</div>
			</div>
			<div class="inline-meta">
				<span class="created-at">
					<a href="#">
						<time
							datetime="2020-04-17 21:54:53"
							title="Fri, 17 Apr 2020 21:54:53 "
							>6 days ago</time
						>
					</a>
				</span>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
