<div class="image-content-list">
	<div class="image-title image-title-with-poster">
		<h3 class="image-edit-title">Star Wars Zoom Backgrounds</h3>
		<form class="image-edit-title-form">
			<input
				type="text"
				class="title-input"
				name="title"
				autocomplete="off"
				value=""
			/>
			<div class="buttons">
				<input type="submit" class="save btn btn-primary" value="Save" />
				<span class="or">or</span>
				<a href="" class="cancel btn btn-secondary">Cancel</a>
			</div>
		</form>
	</div>
	<div class="image-content">
		<div class="the-image">
			<a href="#"
				><img src="//mltshp-cdn.com/r/1IGIU" alt="Star Wars Zoom Backgrounds"
			/></a>
		</div>
		<div id="image-content-footer-1IGIU" class="image-content-footer">
			<div class="alt-text alt-text-edit alt-text--blank">
				<div class="the-alt-text" role="button">add some alt text</div>
			</div>
			<div class="description description-edit">
				<div class="the-description the-description-blank">
					click here to edit description
				</div>
				<form class="description-edit-form">
					<textarea
						name="description"
						class="description-edit-textarea"
					></textarea>
					<div class="buttons">
						<input
							type="submit"
							class="save btn btn-primary btn-small"
							value="Save"
						/>
						<span class="or">or</span>
						<a href="" class="cancel btn btn-secondary btn-small">Cancel</a>
					</div>
				</form>
			</div>
			<div class="inline-meta">
				<span class="created-at">
					<a href="#">
						<time
							datetime="2020-04-17 21:54:53"
							title="Fri, 17 Apr 2020 21:54:53 "
							>6 days ago</time
						>
					</a>
				</span>
				<ul class="stats">
					<li class="views">544 Views</li>
					<li class="saves">
						<a href="#" id="save-count-amount-1IGIU">3</a>
					</li>
					<li class="likes">
						<a href="#" id="like-count-amount-1IGIU">22</a>
					</li>
					<li class="comments selected"><a href="#">1</a></li>
				</ul>
			</div>
			<div class="inline-details">
				<div class="comment">
					<div class="avatar">
						<a href="#">
							<img
								class="avatar--img"
								src="//mltshp-production.s3.amazonaws.com/account/417/profile.jpg"
								height="30"
								width="30"
							/>
						</a>
					</div>
					<div class="comment-body">
						<div class="meta">
							<a class="user-name username link--primary" href="#">jessamyn</a>
							<a class="pro-badge" href="#">
								<img
									alt="pro"
									src="https://mltshp-cdn.com/static/images/icon_plus.svg"
									width="12"
									height="12"
									border="0"
									valign="center"
								/>
							</a>
							<span class="created-at">
								<time
									datetime="2020-04-19 17:37:45"
									title="Sun, 19 Apr 2020 17:37:45 "
									>5 days ago</time
								>
							</span>
							<a class="reply-to" href="">Reply</a>
						</div>
						<div class="comment-body-text">
							Always up for some more good backgrounds
						</div>
					</div>
				</div>
				<div class="post-comment-inline">
					<form class="post-comment-form">
						<textarea name="body">Write a comment…</textarea>
						<div class="button">
							<input
								class="submit-comment-button btn btn-primary btn-small"
								type="submit"
								value="Post It!"
							/>
						</div>
					</form>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
