<div class="image-content-list">
  <div class="image-title image-title-with-poster">
    <div class="image-poster">
      <a href="#" title="macmanx">
        <img
          class="avatar--img"
          src="//mltshp-production.s3.amazonaws.com/account/102505/profile.jpg"
          width="48"
          height="48"
          alt=""
        />
      </a>
    </div>
    <h3>Star Wars Zoom Backgrounds</h3>
    <div class="clear"></div>
    <div class="remove-from-shake">
      <form>
        <button
          title="Delete from shake"
          class="btn btn-warning btn-pastel btn-icon btn-tiny"
        >
          ✕
        </button>
      </form>
    </div>
  </div>
  <div class="image-content">
    <div class="the-image">
      <a href="#"
        ><img src="//s.mltshp.com/r/1IGIU" alt="Star Wars Zoom Backgrounds"
      /></a>
    </div>
    <div id="image-content-footer-1IGIU" class="image-content-footer">
      <div class="description">
        <div class="the-description">
          Star Wars is jumping on the Zoom background train. I’m looking forward
          to showing how clean I’ve kept my office with this one.<br /><br />You
          can find more at
          <a
            href="#"
            target="_blank"
            rel="nofollow"
            title="https://www.starwars.com/news/star-wars-backgrounds"
            >https://www.starwars.com/news...</a
          >
        </div>
      </div>
      <div class="image-interactions">
        <div class="like-this">
          <form id="like-form-1IGIU">
            <button
              type="button"
              class="like-button btn btn-danger btn-small is-active"
            >
              <div class="btn--content">
                <img
                  class="btn--icon"
                  src="https://mltshp-cdn.com/static/images/like-this.svg"
                  alt=""
                />
                <span class="btn--text">Like</span>
              </div>
            </button>
            <button
              type="button"
              class="unlike-button"
              title="Unlike This"
              aria-label="Unlike This"
            >
              <img
                src="https://mltshp-cdn.com/static/images/liked-this.svg"
                height="22"
                width="25"
                alt="Unlike This"
              />
            </button>
          </form>
        </div>
        <div class="save-this">
          <form>
            <button
              type="button"
              class="
                save-this-link save-this-link-multiple
                btn btn-warning btn-small
              "
            >
              <div class="btn--content">
                <img
                  class="btn--icon"
                  src="https://mltshp-cdn.com/static/images/save-this.svg"
                  alt=""
                />
                <span class="btn--text">Save</span>
                <span class="btn--caret">▼</span>
              </div>
            </button>
          </form>
        </div>
      </div>
      <div class="inline-meta">
        <span class="created-at">
          <a href="#">
            <time
              datetime="2020-03-04 21:44:46"
              title="Wed, 04 Mar 2020 21:44:46 "
              >1 month ago</time
            >
          </a>
        </span>
        <ul class="stats">
          <li class="views">119 Views</li>
          <li class="saves">
            <a href="#" id="save-count-amount-1I2LC">0</a>
          </li>
          <li class="likes">
            <a href="#" id="like-count-amount-1I2LC">6</a>
          </li>
          <li class="comments"><a href="#">0</a></li>
        </ul>
      </div>
      <div class="inline-details" style="display: none"></div>
      <div class="clear"></div>
    </div>
  </div>
</div>
