<div class="image-content-list">
  <div class="image-title image-title-with-poster">
    <div class="image-poster">
      <a href="#" title="damien">
        <img
          class="avatar--img"
          src="//mltshp-production.s3.amazonaws.com/account/17747/profile.jpg"
          width="48"
          height="48"
          alt=""
        />
      </a>
    </div>
    <h3>Facebook 18+ Edition</h3>
    <div class="clear"></div>
  </div>
  <div class="image-content">
    <div class="the-image">
      <div class="nsfw-cover" style="min-height: 720px;">
        <p>This may not be safe for viewing at work.</p>
        <p><a href="#">Click here to view</a></p>
      </div>
    </div>
    <div id="image-content-footer-1IFGE" class="image-content-footer">
      <div class="description"></div>
      <div class="image-interactions">
        <div class="like-this">
          <form id="like-form-1IFGE">
            <button type="button" class="like-button btn btn-danger btn-small">
              <div class="btn--content">
                <img
                  class="btn--icon"
                  src="https://mltshp-cdn.com/static/images/like-this.svg"
                  alt=""
                />
                <span class="btn--text">Like</span>
              </div>
            </button>
            <button
              type="button"
              class="unlike-button is-active"
              title="Unlike This"
              aria-label="Unlike This"
            >
              <img
                src="https://mltshp-cdn.com/static/images/liked-this.svg"
                height="22"
                width="25"
                alt="Unlike This"
              />
            </button>
          </form>
        </div>
        <div class="save-this">
          <a href="#" title="Already saved!"
            ><img
              height="22"
              width="29"
              src="https://mltshp-cdn.com/static/images/saved-this.svg"
              alt="Saved"
          /></a>
        </div>
      </div>
      <div class="inline-meta">
        <span class="created-at">
          <a href="#">
            <time
              datetime="2020-04-15 02:51:26"
              title="Wed, 15 Apr 2020 02:51:26 "
              >1 week ago</time
            >
          </a>
        </span>
        <ul class="stats">
          <li class="views">185 Views</li>
          <li class="saves">
            <a href="#" id="save-count-amount-1IFGE">2</a>
          </li>
          <li class="likes">
            <a href="#" id="like-count-amount-1IFGE">32</a>
          </li>
          <li class="comments selected"><a href="#">9</a></li>
        </ul>
      </div>
      <div class="inline-details">
        <div class="comment">
          <div class="avatar">
            <a href="#">
              <img
                class="avatar--img"
                src="//mltshp-production.s3.amazonaws.com/account/54045/profile.jpg"
                height="30"
                width="30"
              />
            </a>
          </div>
          <div class="comment-body">
            <div class="meta">
              <a class="user-name username link--primary" href="#">tweedlydo</a>
              <a class="pro-badge" href="#">
                <img
                  alt="pro"
                  src="https://mltshp-cdn.com/static/images/icon_plus.svg"
                  width="12"
                  height="12"
                  border="0"
                  valign="center"
                />
              </a>
              <span class="created-at">
                <time
                  datetime="2020-04-15 03:29:59"
                  title="Wed, 15 Apr 2020 03:29:59 "
                  >1 week ago</time
                >
              </span>
              <a class="reply-to" href="">Reply</a>
            </div>
            <div class="comment-body-text">
              those are some righteous bazongas
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="avatar">
            <a href="#">
              <img
                class="avatar--img"
                src="//mltshp-production.s3.amazonaws.com/account/701/profile.jpg"
                height="30"
                width="30"
              />
            </a>
          </div>
          <div class="comment-body">
            <div class="meta">
              <a class="user-name username link--primary" href="#">docgonzo</a>
              <span class="created-at">
                <time
                  datetime="2020-04-15 03:40:34"
                  title="Wed, 15 Apr 2020 03:40:34 "
                  >1 week ago</time
                >
              </span>
              <a class="reply-to" href="">Reply</a>
            </div>
            <div class="comment-body-text">
              ^ I played bass etc etc
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="avatar">
            <a href="#">
              <img
                class="avatar--img"
                src="//mltshp-production.s3.amazonaws.com/account/20275/profile.jpg"
                height="30"
                width="30"
              />
            </a>
          </div>
          <div class="comment-body">
            <div class="meta">
              <a class="user-name username link--primary" href="#">jonson</a>
              <a class="pro-badge" href="#">
                <img
                  alt="pro"
                  src="https://mltshp-cdn.com/static/images/icon_plus.svg"
                  width="12"
                  height="12"
                  border="0"
                  valign="center"
                />
              </a>
              <span class="created-at">
                <time
                  datetime="2020-04-15 04:02:28"
                  title="Wed, 15 Apr 2020 04:02:28 "
                  >1 week ago</time
                >
              </span>
              <a class="reply-to" href="">Reply</a>
            </div>
            <div class="comment-body-text">
              @tweedlydo more of an elbow man, meself.
            </div>
          </div>
        </div>
        <div class="comment" style="display: none;">
          <div class="avatar">
            <a href="#">
              <img
                class="avatar--img"
                src="//mltshp-production.s3.amazonaws.com/account/2541/profile.jpg"
                height="30"
                width="30"
              />
            </a>
          </div>
          <div class="comment-body">
            <div class="meta">
              <a class="user-name username link--primary" href="#">Johnny</a>
              <a class="pro-badge" href="#">
                <img
                  alt="pro"
                  src="https://mltshp-cdn.com/static/images/icon_plus.svg"
                  width="12"
                  height="12"
                  border="0"
                  valign="center"
                />
              </a>
              <span class="created-at">
                <time
                  datetime="2020-04-15 04:03:31"
                  title="Wed, 15 Apr 2020 04:03:31 "
                  >1 week ago</time
                >
              </span>
              <a class="reply-to" href="">Reply</a>
            </div>
            <div class="comment-body-text">
              I keep scrolling back up.
            </div>
          </div>
        </div>
        <div class="comment" style="display: none;">
          <div class="avatar">
            <a href="#">
              <img
                class="avatar--img"
                src="//mltshp-production.s3.amazonaws.com/account/9/profile.jpg"
                height="30"
                width="30"
              />
            </a>
          </div>
          <div class="comment-body">
            <div class="meta">
              <a class="user-name username link--primary" href="#">catbird</a>
              <span class="created-at">
                <time
                  datetime="2020-04-15 05:38:16"
                  title="Wed, 15 Apr 2020 05:38:16 "
                  >1 week ago</time
                >
              </span>
              <a class="reply-to" href="">Reply</a>
            </div>
            <div class="comment-body-text">
              Ahem, my tits are down here
            </div>
          </div>
        </div>
        <div class="comment" style="display: none;">
          <div class="avatar">
            <a href="#">
              <img
                class="avatar--img"
                src="//mltshp-production.s3.amazonaws.com/account/951/profile.jpg"
                height="30"
                width="30"
              />
            </a>
          </div>
          <div class="comment-body">
            <div class="meta">
              <a class="user-name username link--primary" href="#">MackReed</a>
              <a class="pro-badge" href="#">
                <img
                  alt="pro"
                  src="https://mltshp-cdn.com/static/images/icon_plus.svg"
                  width="12"
                  height="12"
                  border="0"
                  valign="center"
                />
              </a>
              <span class="created-at">
                <time
                  datetime="2020-04-15 12:56:18"
                  title="Wed, 15 Apr 2020 12:56:18 "
                  >1 week ago</time
                >
              </span>
              <a class="reply-to" href="">Reply</a>
            </div>
            <div class="comment-body-text">
              @tweedlydo both the words I was thinking of
            </div>
          </div>
        </div>
        <div class="comment" style="display: none;">
          <div class="avatar">
            <a href="#">
              <img
                class="avatar--img"
                src="//mltshp-production.s3.amazonaws.com/account/109/profile.jpg"
                height="30"
                width="30"
              />
            </a>
          </div>
          <div class="comment-body">
            <div class="meta">
              <a class="user-name username link--primary" href="#"
                >caitlinburke</a
              >
              <a class="pro-badge" href="#">
                <img
                  alt="pro"
                  src="https://mltshp-cdn.com/static/images/icon_plus.svg"
                  width="12"
                  height="12"
                  border="0"
                  valign="center"
                />
              </a>
              <span class="created-at">
                <time
                  datetime="2020-04-15 13:59:46"
                  title="Wed, 15 Apr 2020 13:59:46 "
                  >1 week ago</time
                >
              </span>
              <a class="reply-to" href="">Reply</a>
            </div>
            <div class="comment-body-text">
              Damn, it’s like her elbows are staring right at me.
            </div>
          </div>
        </div>
        <div class="comment" style="display: none;">
          <div class="avatar">
            <a href="#">
              <img
                class="avatar--img"
                src="//mltshp-production.s3.amazonaws.com/account/101312/profile.jpg"
                height="30"
                width="30"
              />
            </a>
          </div>
          <div class="comment-body">
            <div class="meta">
              <a class="user-name username link--primary" href="#">otaman</a>
              <a class="pro-badge" href="#">
                <img
                  alt="pro"
                  src="https://mltshp-cdn.com/static/images/icon_plus.svg"
                  width="12"
                  height="12"
                  border="0"
                  valign="center"
                />
              </a>
              <span class="created-at">
                <time
                  datetime="2020-04-15 15:42:45"
                  title="Wed, 15 Apr 2020 15:42:45 "
                  >1 week ago</time
                >
              </span>
              <a class="reply-to" href="">Reply</a>
            </div>
            <div class="comment-body-text">
              “Dolores”
            </div>
          </div>
        </div>
        <div class="comment" style="display: none;">
          <div class="avatar">
            <a href="#">
              <img
                class="avatar--img"
                src="//mltshp-production.s3.amazonaws.com/account/6420/profile.jpg"
                height="30"
                width="30"
              />
            </a>
          </div>
          <div class="comment-body">
            <div class="meta">
              <a class="user-name username link--primary" href="#">joffaboy</a>
              <a class="pro-badge" href="#">
                <img
                  alt="pro"
                  src="https://mltshp-cdn.com/static/images/icon_plus.svg"
                  width="12"
                  height="12"
                  border="0"
                  valign="center"
                />
              </a>
              <span class="created-at">
                <time
                  datetime="2020-04-16 01:05:18"
                  title="Thu, 16 Apr 2020 01:05:18 "
                  >1 week ago</time
                >
              </span>
              <a class="reply-to" href="">Reply</a>
            </div>
            <div class="comment-body-text">
              @otaman Look pretty “hi-res” to me
            </div>
          </div>
        </div>
        <a href="#" class="show-more-comments">View all 9 comments</a>
        <div class="post-comment-inline">
          <form class="post-comment-form">
            <textarea name="body">Write a comment…</textarea>
            <div class="button">
              <input
                class="submit-comment-button btn btn-primary btn-small"
                type="submit"
                value="Post It!"
              />
            </div>
          </form>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
