<ul class="promotions">
  <li>
    <a href="#" rel="nofollow" target="_blank">
      <div class="promotion-avatar">
        <img
          src="https://mltshp.com/static/promos/merch/2.jpg"
          width="100"
          height="100"
          alt=""
        />
      </div>
      <span class="promotion-name">Sale!</span>
    </a>
  </li>
  <li>
    <a href="#" rel="nofollow" target="_blank">
      <div class="promotion-avatar">
        <img
          src="https://mltshp.com/static/promos/merch/9.jpg"
          width="100"
          height="100"
          alt=""
        />
      </div>
      <span class="promotion-name">Black Shirt Sale!</span>
    </a>
  </li>
</ul>
