//
// Break Word
// Used to prevent lengthy text strings from breaking layout
//
@mixin breakword() {
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

@mixin clamp($lines) {
  // stylelint-disable property-no-vendor-prefix, value-no-vendor-prefix
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  // stylelint-enable
}
