//
// Break Word
// Used to prevent lengthy text strings from breaking layout
// @see https://css-tricks.com/?p=16145
//
@mixin breakword() {
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

//
// Line Clamping
// Truncates text at a specified number of lines
// @see https://css-tricks.com/?p=270051
//
@mixin clamp($lines) {
  // stylelint-disable property-no-vendor-prefix, value-no-vendor-prefix
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  // stylelint-enable
}
