//
// Break Word
// Used to prevent lengthy text strings from breaking layout
// @see https://css-tricks.com/?p=16145
//
@mixin breakword() {
	// Stylelint wants us to use the modern rules only,
	// but I don't have time to regression test right now. - SV
	// stylelint-disable
	overflow-wrap: break-word;
	word-break: break-word;
	overflow-wrap: break-word;
	// stylelint-enable
}

//
// Line Clamping
// Truncates text at a specified number of lines
// @see https://css-tricks.com/?p=270051
//
@mixin clamp($lines) {
	// stylelint-disable property-no-vendor-prefix, value-no-vendor-prefix
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	overflow: hidden;
	// stylelint-enable
}
