//
// Variables
// Note that most variables should live as design tokens instead.
// By importing all the design tokens here, they're added as custom properties
// on :root. That means that with rare exceptions, no one should use Sass
// variables. We prefer custom properties because we can more easily override
// them for situations like dark mode (see below).
//
@use '../compiled/scss/tokens'; // import tokens as SCSS variables
@use '../compiled/css/tokens' as props; // import tokens as CSS custom properties

:root {
  --color-text-link-underline: #{rgba(tokens.$color-text-link, 0.33)};
  --color-text-link-underline-hover: #{rgba(
      tokens.$color-text-link-hover,
      0.33
    )};
  --color-text-link-primary-underline: #{rgba(
      tokens.$color-text-link-primary,
      0.33
    )};
  --color-text-link-primary-underline-hover: #{rgba(
      tokens.$color-text-link-primary-hover,
      0.33
    )};
  --color-text-link-danger-underline: #{rgba(
      tokens.$color-text-link-danger,
      0.33
    )};
  --color-text-link-danger-underline-hover: #{rgba(
      tokens.$color-text-link-danger-hover,
      0.33
    )};
}
