<ul id="new-members-list" class="new-members">
	<li>
		<a href="#">
			<img
				class="avatar avatar--img"
				src="https://mltshp-production.s3.amazonaws.com/account/63/profile.jpg"
				width="48"
				height="48"
			/>
		</a>
		<div class="details">
			<h4>
				<a class="icon" href="#">Art Wells</a>
				<img
					alt="pro"
					src="https://mltshp-cdn.com/static/images/icon_plus.svg"
					width="12"
					height="12"
					border="0"
					valign="center"
				/>
			</h4>
			<p class="about">
				Up the side and straight down the middle.
				<br />
				<a class="website" rel="nofollow" target="_blank" href="#"
					>http://artwells.com/</a
				>
			</p>
		</div>
		<form>
			NSFW.
			<input
				class="btn btn-small btn-pastel btn-primary flag-nsfw-button"
				type="submit"
				value="Remove NSFW Flag"
			/>
		</form>

		<div class="image-medium">
			<div class="image-medium-thumb">
				<a href="#"
					><img src="https://mltshp-cdn.com/r/1QE6J?width=100" alt=""
				/></a>
			</div>
			<div class="user-and-title">
				<a href="#" title="Art Wells">
					<img
						class="avatar--img"
						src="https://mltshp-production.s3.amazonaws.com/account/63/profile.jpg"
						width="20"
						height="20"
					/>
				</a>
				<div class="title">Sweet Poster</div>
			</div>
			<ul class="stats">
				<li class="views">0 views</li>
				<li class="saves">0</li>
				<li class="likes">0</li>
				<li class="comments"><a href="#">2</a></li>
			</ul>
		</div>
	</li>

	<li>
		<a href="#">
			<img
				class="avatar avatar--img"
				src="https://mltshp-production.s3.amazonaws.com/account/187/profile.jpg"
				width="48"
				height="48"
			/>
		</a>
		<div class="details">
			<h4>
				<a class="icon" href="#">Anil Dash</a>
				<img
					alt="pro"
					src="https://mltshp-cdn.com/static/images/icon_plus.svg"
					width="12"
					height="12"
					border="0"
					valign="center"
				/>
			</h4>
			<p class="about">
				http://anildash.com/
				<br />
				<a class="website" rel="nofollow" target="_blank" href="#"
					>http://dashes.com/</a
				>
			</p>
		</div>
		<form>
			SFW.
			<input
				class="btn btn-small btn-pastel btn-primary unflag-nsfw-button"
				type="submit"
				value="Set NSFW Flag"
			/>
		</form>

		<div class="image-medium">
			<div class="image-medium-thumb">
				<a href="#"
					><img src="https://mltshp-cdn.com/r/1Q7DY?width=100" alt=""
				/></a>
			</div>
			<div class="user-and-title">
				<a href="#" title="Anil Dash">
					<img
						class="avatar--img"
						src="https://mltshp-production.s3.amazonaws.com/account/187/profile.jpg"
						width="20"
						height="20"
					/>
				</a>
				<div class="title">A Woman’s Place is in the Resistance</div>
			</div>
			<ul class="stats">
				<li class="views">0 views</li>
				<li class="saves">0</li>
				<li class="likes">0</li>
				<li class="comments"><a href="#">2</a></li>
			</ul>
		</div>
	</li>

	<li>
		<a href="#">
			<img
				class="avatar avatar--img"
				src="https://mltshp-production.s3.amazonaws.com/account/417/profile.jpg"
				width="48"
				height="48"
			/>
		</a>
		<div class="details">
			<h4>
				<a class="icon" href="#">Jessamyn!</a>
				<img
					alt="pro"
					src="https://mltshp-cdn.com/static/images/icon_plus.svg"
					width="12"
					height="12"
					border="0"
					valign="center"
				/>
			</h4>
			<p class="about">
				I build moss gardens in my treehouse. MLKSHK is my Tumblr.
				<br />
				<a class="website" rel="nofollow" target="_blank" href=""
					>http://librarian.net/</a
				>
			</p>
		</div>
		<form>
			SFW.
			<input
				class="btn btn-small btn-pastel btn-primary unflag-nsfw-button"
				type="submit"
				value="Set NSFW Flag"
			/>
		</form>

		<div class="image-medium">
			<div class="image-medium-thumb">
				<a href="#"
					><img src="https://mltshp-cdn.com/r/1QB81?width=100" alt=""
				/></a>
			</div>
			<div class="user-and-title">
				<a href="#" title="Jessamyn!">
					<img
						class="avatar--img"
						src="https://mltshp-production.s3.amazonaws.com/account/417/profile.jpg"
						width="20"
						height="20"
					/>
				</a>
				<div class="title">Star Wars Band</div>
			</div>
			<ul class="stats">
				<li class="views">0 views</li>
				<li class="saves">0</li>
				<li class="likes">0</li>
				<li class="comments"><a href="#">2</a></li>
			</ul>
		</div>
	</li>
</ul>
