.site-footer {
  color: var(--color-page-text-secondary);
  font-size: 0.75em;
  padding: 2.5em;
  text-align: center;

  p {
    margin: 0;

    + p {
      margin-top: 0.5em;
    }
  }

  a {
    white-space: nowrap;
  }
}
