@use '../../compiled/scss/tokens';

// 1. Duplicating body background for Storybook previews.
.page {
  background-color: var(--color-background-page); // 1
  padding: 0 0.5em;
  position: relative;
}

// 1. Contains child margins. Useful for Storybook previews.
.wrapper {
  display: flow-root; // 1
  margin: 0 auto;
  max-width: 960px;
}

.content {
  background-color: var(--color-background-content);
  border-radius: var(--size-border-radius-large);
  margin-bottom: var(--size-spacing-triple);
  margin-top: var(--size-spacing-half-again);

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

//
// Single-Column Layout
//
.content-narrow,
.content-styleguide {
  margin: var(--size-spacing-quadruple) auto var(--size-spacing-triple);
  max-width: 700px;
  padding: var(--size-spacing-half-again);

  @media screen and (min-width: tokens.$size-breakpoint-lg) {
    padding: var(--size-spacing-quadruple);
  }

  // I hate this. We spend more time overriding it. -SV
  p {
    font-size: 1.625rem; // 26px
    line-height: 2.5;
    margin: 2em 0;
  }

  .extra-info p {
    color: var(--color-page-text-secondary);
    font-size: 1rem;
    line-height: 1.4;
  }
}

.content-styleguide {
  max-width: none;
}

//
// Two Column Layout
//
.content-with-sidebar {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: tokens.$size-breakpoint-lg) {
    flex-flow: row wrap;
  }

  > * {
    min-width: 0; // https://github.com/philipwalton/flexbugs/issues/39
  }

  .header {
    flex: 0 0 100%;
  }

  .body {
    flex: 1;
    padding-right: 1px; // dumb, but needed to keep from collapsing -SV
  }

  .sidebar {
    background: linear-gradient(
      to top,
      var(--color-base-white-transparent),
      var(--color-base-white-transparent) calc(100% - 6px),
      var(--color-border-default)
    );
    order: 2;
    padding: var(--size-spacing-double);

    @media screen and (min-width: tokens.$size-breakpoint-lg) {
      background: linear-gradient(
        to right,
        var(--color-base-white-transparent),
        var(--color-base-white-transparent) calc(100% - 6px),
        var(--color-border-default)
      );
      flex: 0 0 325px;
      order: 0;
    }
  }
}

//
// Reversed Two-Column Layout
//
.content-with-sidebar-reversed {
  .sidebar {
    @media screen and (min-width: tokens.$size-breakpoint-lg) {
      background: linear-gradient(
        to left,
        var(--color-base-white-transparent),
        var(--color-base-white-transparent) calc(100% - 6px),
        var(--color-border-default)
      );
      order: 2;
    }
  }
}
