<div class="feature feature--primary">
	<div class="feature--image">
		<img
			alt=""
			width="419"
			height="346"
			class="feature--image-media"
			src="https://mltshp-cdn.com/static/images/home-screenshot.jpg"
		/>
	</div>
	<div class="feature--content">
		<h1 class="feature--title home-title">Save, Share &amp;&nbsp;Discover</h1>
		<div class="feature--body">
			<p>
				Easily save images from everywhere on the web. The silly ones, the sweet
				ones. The cool ones. The gross ones. Then share them with your friends
				and family. Learn more at our <a href="/faq">faq</a>.
			</p>
			<p class="feature--cta send-invitation">
				<a class="btn btn-primary btn-shadow btn-large" href="#">Sign me up!</a>
			</p>
		</div>
	</div>
</div>
