<div class="feature feature--flipped">
  <div class="feature--image">
    <img
      alt=""
      class="feature--image-media"
      src="https://mltshp-cdn.com/static/images/home-screenshot-createshake.jpg"
    />
  </div>
  <div class="feature--content">
    <h2 class="feature--title">
      Create Shakes
      <span
        aria-hidden="true"
        class="label label-warning label-pastel label-tiny"
        >PRO</span
      >
    </h2>
    <p class="feature--body">
      Pick a topic, any topic! Invite other MLTSHPers in to post and curate
      their submissions with one click.
    </p>
  </div>
</div>
