<form>
	<fieldset>
		<legend>Fieldset Legend</legend>
		<div class="field">
			<label for="ex-text">Text input</label>
			<div class="field-input">
				<input id="ex-text" type="text" value="default value" />
			</div>
		</div>
		<div class="field">
			<label for="ex-email">Email input</label>
			<div class="field-input">
				<input id="ex-email" type="email" />
			</div>
		</div>
		<div class="field">
			<label for="ex-search">Search input</label>
			<div class="field-input">
				<input id="ex-search" type="search" />
			</div>
		</div>
		<div class="field">
			<label for="ex-tel">Tel input</label>
			<div class="field-input">
				<input id="ex-tel" type="tel" />
			</div>
		</div>
		<div class="field">
			<label for="ex-url">URL input</label>
			<div class="field-input">
				<input id="ex-url" type="url" placeholder="http://" />
			</div>
		</div>
		<div class="field">
			<label for="ex-password">Password input</label>
			<div class="field-input">
				<input id="ex-password" type="password" value="password" />
			</div>
		</div>
		<div class="field">
			<label for="ex-file">File input</label>
			<div class="field-input">
				<input id="ex-file" type="file" />
			</div>
		</div>
		<div class="field field-radio">
			<div class="field-input">
				<input id="ex-radio" type="radio" name="rad" />
			</div>
			<label for="ex-radio">Radio input</label>
		</div>
		<div class="field field-checkbox">
			<div class="field-input">
				<input id="ex-checkbox" type="checkbox" />
			</div>
			<label for="ex-checkbox">Checkbox input</label>
		</div>
		<div class="field">
			<label for="ex-select">Select field</label>
			<div class="field-input">
				<select id="ex-select">
					<option>Option 01</option>
					<option>Option 02</option>
				</select>
			</div>
		</div>
		<div class="field">
			<label for="ex-textarea">Textarea</label>
			<div class="field-input">
				<textarea id="ex-textarea" cols="30" rows="5">Textarea text</textarea>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Clickable inputs and buttons</legend>
		<input type="reset" value="Reset (input)" />
		<input type="button" value="Button (input)" />
		<input type="submit" value="Submit (input)" />
		<button type="button">Button (button)</button>
	</fieldset>
</form>
