<div class="page">
  <div class="wrapper">
    <div class="content content-narrow">
      <div class="fun-form fun-form-stacked">
        <form>
          <div class="field">
            <label for="username">Username</label>
            <div class="field-input">
              <input id="username" class="input-text" type="text" />
              <div class="error">
                <span class="error-text">Here’s what an error looks like!</span>
              </div>
            </div>
            <div class="field-help">
              30 characters or fewer. Letters, digits, underscores or dashes
              only.
            </div>
          </div>
          <div class="field">
            <label for="about">About You</label>
            <div class="field-input">
              <textarea id="about"></textarea>
            </div>
            <div class="field-help">255 characters max.</div>
          </div>
          <div id="create-shake-name-field" class="field">
            <label>URL</label>
            <span class="name-prefix">https://mltshp.com/</span>
            <div class="field-input">
              <input class="input-text" type="text" name="name" value="" />
              <div class="error">
                <span class="error-text"> That URL is not valid. </span>
              </div>
            </div>
          </div>
          <div class="field">
            <label for="favorite">Flavor</label>
            <div class="field-input">
              <select id="favorite">
                <option>--</option>
                <option value="chocolate">Chocolate</option>
                <option value="strawberry">Strawberry</option>
                <option value="vanilla">Vanilla</option>
              </select>
            </div>
          </div>
          <div class="field">
            <div class="field-input">
              <label>
                <input type="checkbox" name="disable_notifications" value="1" />
                Disable Notifications?
              </label>
            </div>
          </div>
          <div class="field">
            <div class="field-input">
              <label>
                <input type="radio" name="rad" />
                Radio input
              </label>
            </div>
          </div>
          <div class="field field-submit">
            <input
              class="btn btn-primary btn-shadow btn-large"
              type="submit"
              value="Create It!"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
