@use '../buttons/buttons';

.following-wrapper {
  margin: var(--spacing-double) 0;

  h3 {
    color: var(--color-page-text);
    font-size: 0.875rem;
    padding-bottom: var(--spacing-default);
    padding-left: var(--spacing-half-again);
    padding-right: var(--spacing-half-again);

    a {
      @extend .btn;
      @extend .btn-secondary;
      @extend .btn-small;
      float: right;
    }

    span {
      color: var(--color-page-text-secondary);
      font-weight: var(--font-weight-normal);
    }
  }
}

.following {
  background-color: var(--color-page-bg-secondary);
  border-radius: var(--border-radius-large);

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: var(--spacing-half-again);
    padding-right: 0;

    li {
      flex: none;
      margin-bottom: var(--spacing-half);
      margin-right: var(--spacing-half);

      li a {
        display: block;
        height: 48px;
        width: 48px;
      }
    }
  }

  br {
    display: none;
  }

  .view-all-following {
    display: block;
    font-size: 0.75rem;
    margin-top: calc(var(--spacing-default) * -1);
    padding-bottom: var(--spacing-default);
    padding-right: var(--spacing-half-again);
    text-align: right;
  }
}
