<div style="padding: 15px">
  <div style="border: 1px dashed silver; padding-bottom: 2em">
    <div class="bookmark">
      <span class="bookmark-flag">
        <span class="bookmark-flag--content">
          You started <span class="hide-on-small">reading</span> here
          <time
            datetime="2020-04-22 18:05:38"
            title="Wed, 22 Apr 2020 18:05:38 "
          >
            25 minutes ago
          </time>
        </span>
      </span>
      <span class="jump-back">
        <a href="/before/{{sharedfile.previous_sharedfile_key()}}/returning">
          <span class="hide-on-small">jump to</span> previous
        </a>
      </span>
    </div>
  </div>
</div>
