// Need to reapply system font to form fields because iOS tries to force Helvetica
input,
textarea,
select,
button {
  font-family: var(--font-family-system);
  font-size: 1rem;
}

label {
  display: block;
}

textarea {
  display: block;
  height: 5em;
  padding: 0.5em;
  resize: vertical;
  width: 100%;
}

/* ---------------------------------------------------------------------
  Fun Form Layout
--------------------------------------------------------------------- */
.fun-form {
  margin-top: 20px;
}

/* form row */
.fun-form .field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.fun-form .field + .field {
  margin-top: 1em;
}

/* form field label */
.fun-form label {
  display: block;
  flex: none;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  margin-bottom: 5px;
}

/* form field wrapper */
.fun-form .field-input {
  flex: 1;
}

/* form rows that don't need flex layout */
.fun-form .field-help,
.fun-form .field-submit {
  display: block;
}

@media screen and (min-width: 768px) {
  .fun-form .field {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fun-form label {
    flex-basis: 190px;
    margin-bottom: 0;
    margin-right: 10px;
    text-align: right;
  }

  .fun-form .field-help {
    flex-basis: 100%;
  }

  /* form rows that need indenting to match label */
  .fun-form .field-help,
  .fun-form .field-submit {
    padding-left: 200px;
  }
}

/* ---------------------------------------------------------------------
  Fun Form Field Styles
--------------------------------------------------------------------- */

/* text-y inputs */
.fun-form .input-text,
.fun-form textarea {
  // stylelint-disable property-no-vendor-prefix
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // stylelint-enable
  background: #f2fdff;
  border: 1px solid #e4eff1;
  border-radius: var(--border-radius-large);
  border-width: 4px 1px 1px 4px;
  display: block;
  font-size: 18px;
  padding: 8px 10px;
  width: 100%;
}

.fun-form .input-text {
  height: 42px;
  padding-bottom: 0;
  padding-top: 0;
}

.fun-form textarea {
  height: 135px;
  resize: none;
}

/* dropdowns */
.fun-form select {
  width: 100%;
}

/* checkboxes & radio buttons */
.fun-form [type='checkbox'],
.fun-form [type='radio'] {
  margin-right: 0.5em;
}

/* help text */
.fun-form .field-help {
  color: #666666;
  margin-top: 0.5em;
}

/* ---------------------------------------------------------------------
  Fun Form Errors
--------------------------------------------------------------------- */

/* List of Errors that usually lives at the top */
.fun-form-errors {
  color: #cc0000;
  font-size: 18px;
}

/* error balloon */
.fun-form .field .error {
  background: #aaf3ff;
  border-radius: 33% 25px;
  color: inherit;
  display: block;
  font-size: 12px;
  padding: 1em 1.25em;
  position: absolute;
  right: -15px;
  text-align: center;
  top: 25%;
  transform: translateY(-50%);
  width: 115px;
  z-index: 1;
}

.fun-form .field .error::before {
  background-image: svg-load('balloons/error-tail.svg');
  background-repeat: no-repeat;
  bottom: calc(50% - 15px);
  content: '';
  display: block;
  height: 22px;
  left: -48px;
  position: absolute;
  width: 52px;
}

@media screen and (min-width: 960px) {
  .fun-form .field .error {
    right: -160px;
  }
}

/* ---------------------------------------------------------------------
  Stacked Fun Form Modifier
--------------------------------------------------------------------- */

.fun-form-stacked .field {
  display: block;
}

.fun-form-stacked label {
  margin-bottom: 5px;
  margin-right: 0;
  text-align: left;
}

.fun-form-stacked .field-help,
.fun-form-stacked .field-submit {
  padding-left: 0;
}

/* ---------------------------------------------------------------------
  Field with Prefix
  TODO: this should be abstracted into a reusable class
--------------------------------------------------------------------- */
// stylelint-disable selector-max-id
#create-shake-name-field,
.field-prefix {
  .fun-form-stacked & {
    display: flex;
    flex-wrap: wrap;

    label {
      flex-basis: 100%;
    }
  }

  .name-prefix {
    color: var(--color-page-text-secondary);
    font-size: 1.125rem;
    margin-right: 0.5em;
  }
}
