<div
	id="notification-block-invitation-request"
	class="notification-block notification-block-invitation-request"
>
	<div class="notification-block-hd on-shake-page">
		2 requests to join a shake
	</div>
	<div class="notification-block-bd" style="display: block">
		<div class="notification">
			<a href="#">Chuck Lauer Vose</a>
			has requested to join Dance Party.
			<div class="notification-actions">
				<form>
					<input
						type="submit"
						class="btn btn-secondary btn-pastel btn-small"
						value="Approve"
					/>
				</form>
				<form>
					<input
						type="submit"
						class="btn btn-warning btn-pastel btn-small"
						value="Decline"
					/>
				</form>
			</div>
		</div>
		<div class="notification">
			<a href="#">Art Wells</a>
			has requested to join Fantastic Internet Art.
			<div class="notification-actions">
				<form>
					<input
						type="submit"
						class="btn btn-secondary btn-pastel btn-small"
						value="Approve"
					/>
				</form>
				<form>
					<input
						type="submit"
						class="btn btn-warning btn-pastel btn-small"
						value="Decline"
					/>
				</form>
			</div>
		</div>
	</div>
</div>
