<div class="notification-block notification-block-like">
  <div class="notification-block-hd">2 new likes</div>
  <div class="notification-block-bd" style="display: block">
    <div class="notification">
      <div class="thumb">
        <a href="#"
          ><img
            src="https://www.maxim.com/.image/w_100/MTQwODY4NDA5Njk2MDY4OTg0/2014-ferrari-laferrari-red-1png.jpg"
        /></a>
      </div>
      <div class="context">
        <a href="#">Ferrari</a>
        has been liked by <a href="#">spaceninja</a>, <a href="#">vosechu</a>
      </div>
    </div>
    <div class="notification">
      <div class="thumb">
        <a href="#"
          ><img
            src="https://www.maxim.com/.image/w_100/MTM1MTQzNDUwMjE4ODY3MzMx/classic-ferraris.jpg"
        /></a>
      </div>
      <div class="context">
        <a href="#">Moar Ferraris</a>
        has been liked by <a href="#">catbird</a>
      </div>
    </div>
    <div class="clear-all">
      <a class="btn btn-warning btn-pastel btn-small" href="#">clear all</a>
    </div>
  </div>
</div>
