<div class="notification-block notification-block-comment">
  <div class="notification-block-hd">2 new comments</div>
  <div class="notification-block-bd" style="display: block">
    <div class="notification">
      <div class="thumb">
        <a href="#"
          ><img
            src="https://www.maxim.com/.image/w_100/MTQwODY4NDA5Njk2MDY4OTg0/2014-ferrari-laferrari-red-1png.jpg"
        /></a>
      </div>
      <div class="context">
        <a href="#">Bob Dobbs</a>
        commented on
        <a href="#">Ferrari</a><br />
        source: the redditz: https://mobile.twitter.com/xxx
      </div>
    </div>
    <div class="notification">
      <div class="thumb">
        <a href="#"
          ><img
            src="https://www.maxim.com/.image/w_100/MTM1MTQzNDUwMjE4ODY3MzMx/classic-ferraris.jpg"
        /></a>
      </div>
      <div class="context">
        <a href="#">Captain America</a>
        commented on
        <a href="#">Moar Ferraris</a><br />
        source: the redditz: https://mobile.twitter.com/zzz
      </div>
    </div>
    <div class="clear-all">
      <a class="btn btn-warning btn-pastel btn-small" href="#">clear all</a>
    </div>
  </div>
</div>
