<div class="notification-block notification-block-follow">
  <div class="notification-block-hd">You have 2 new followers</div>
  <div class="notification-block-bd" style="display: block">
    <div class="notification">
      <div class="user-follow">
        <a class="icon" href="#">
          <img
            class="avatar--img"
            src="https://mltshp-production.s3.amazonaws.com/account/2/profile.jpg"
            width="48"
            height="48"
          />
        </a>
        <div class="follow">
          <h4>
            <a href="#">Andre Torrez</a>
            <a href="#"
              ><img
                alt="pro"
                src="https://mltshp-cdn.com/static/images/icon_plus.svg"
                width="12"
                height="12"
                border="0"
                valign="center"
            /></a>
          </h4>
          <form>
            <a
              href=""
              class="submit-form btn btn-secondary btn-pastel btn-small"
              >+ Follow</a
            >
          </form>
        </div>
      </div>
      <a
        href=""
        title="Clear notification"
        class="notification-close btn btn-warning btn-pastel btn-icon btn-tiny"
        >✕</a
      >
    </div>
    <div class="notification">
      <div class="user-follow">
        <a class="icon" href="#">
          <img
            class="avatar--img"
            src="https://mltshp-production.s3.amazonaws.com/account/63/profile.jpg"
            width="48"
            height="48"
          />
        </a>
        <div class="follow">
          <h4>
            <a href="#">Art Wells</a>
            <a href="#"
              ><img
                alt="pro"
                src="https://mltshp-cdn.com/static/images/icon_plus.svg"
                width="12"
                height="12"
                border="0"
                valign="center"
            /></a>
          </h4>
          <form>
            <a
              href=""
              class="submit-form btn btn-secondary btn-pastel btn-small"
              >+ Follow</a
            >
          </form>
        </div>
      </div>
      <a
        href=""
        title="Clear notification"
        class="notification-close btn btn-warning btn-pastel btn-icon btn-tiny"
        >✕</a
      >
    </div>
    <div class="clear-all">
      <a class="btn btn-warning btn-pastel btn-small" href="#">clear all</a>
    </div>
  </div>
</div>
