<ul id="shake-members-list" class="shake-members">
	<li>
		<a class="member--img" href="#">
			<img
				class="avatar--img"
				src="//mltshp-production.s3.amazonaws.com/account/45/profile.jpg"
				width="48"
				height="48"
			/>
		</a>
		<div class="details">
			<h4><a href="#">baldfacedliar</a></h4>
			<p class="about">
				Just give me one more chance, I’ll never lie to you again.
				<br />
				<a class="website" href="#">http://baldfacedliar.tumblr.com</a>
			</p>
		</div>
	</li>
	<li>
		<a class="member--img" href="#">
			<img
				class="avatar--img"
				src="//mltshp-production.s3.amazonaws.com/account/67/profile.jpg"
				width="48"
				height="48"
			/>
		</a>
		<div class="details">
			<h4><a href="#">tonyb</a></h4>
			<p class="about"></p>
		</div>
	</li>
	<li>
		<a class="member--img" href="#">
			<img
				class="avatar--img"
				src="//mltshp-production.s3.amazonaws.com/account/184/profile.jpg"
				width="48"
				height="48"
			/>
		</a>
		<div class="details">
			<h4><a href="#">dat</a></h4>
			<p class="about">
				New York. Only the wurst internet droppings
				<br />
				<a class="website" href="#">http://twitter.com/datnguyen</a>
			</p>
		</div>
	</li>
	<li>
		<a class="member--img" href="#">
			<img
				class="avatar--img"
				src="//mltshp-production.s3.amazonaws.com/account/197/profile.jpg"
				width="48"
				height="48"
			/>
		</a>
		<div class="details">
			<h4><a href="#">Steve</a></h4>
			<p class="about">
				I live in Ohio and am married to @redfox. Enhance. Enhance. Enhance.
				<br />
				<a class="website" href="#">http://blog.snarkout.org</a>
			</p>
		</div>
	</li>
	<li>
		<a class="member--img" href="#">
			<img
				class="avatar--img"
				src="//mltshp-production.s3.amazonaws.com/account/208/profile.jpg"
				width="48"
				height="48"
			/>
		</a>
		<div class="details">
			<h4><a href="#">Foist</a></h4>
			<p class="about">
				Jolly roustabout, copywriter for the animals, and of the prestigious
				Portland Sevens.
			</p>
		</div>
	</li>
</ul>
