//
// Core Styles for Native HTML Elements
// This partial should only contain styles for the basic native HTML elements.
//
*,
*::before,
*::after {
  box-sizing: border-box;
}

// TODO: this should actually be the mltshp baby blue background,
// reserving white for the content block
html,
body {
  background-color: var(--color-page-bg);
  color: var(--color-page-text);
  min-height: 100vh; // This might be a bad idea, but it keeps the background in storybook
}
