//
// Core Styles for Native HTML Elements
//
// This partial should only contain styles for the basic native HTML elements.
//
*,
*::before,
*::after {
  box-sizing: border-box;
}

// TODO: this should actually be the mltshp baby blue background,
// reserving white for the content block
html,
body {
  background-color: var(--color-page-bg);
  color: var(--color-page-text);
  min-height: 100vh; // This might be a bad idea, but it keeps the background in storybook
}

// workaround to stop storybook iframes from scrolling if components have margin
/* stylelint-disable-next-line selector-max-id */
#root {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

a {
  color: var(--color-text-link);
  text-decoration-color: var(--color-text-link-underline);
  transition: background-color var(--speed-quick) ease,
    color var(--speed-quick) ease;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-text-link-hover);
    text-decoration-color: var(--color-text-link-underline-hover);
  }
}

// Primary color link modifier
// often used via @extend
.link--primary {
  color: var(--color-text-link-primary);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  text-decoration-color: var(--color-text-link-primary-underline);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-text-link-primary-hover);
    text-decoration-color: var(--color-text-link-primary-underline-hover);
  }
}

// Danger color link modifier
// Use sparingly, and prefer danger buttons.
.link--danger {
  color: var(--color-text-link-danger);
  text-decoration-color: var(--color-text-link-danger-underline);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-text-link-danger-hover);
    text-decoration-color: var(--color-text-link-danger-underline-hover);
  }
}
