//
// Core Styles for Native HTML Elements
// This partial should only contain styles for the basic native HTML elements.
//
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background-page);
  color: var(--color-page-text);
}
