@use "../compiled/scss/tokens";
@use '../init/mixins';

//
// Global Utility Classes
// There shouldn't be much here, as we prefer component-specific classes.
//

// screenreaders only
// https://cloudfour.com/thinks/see-no-evil-hidden-content-and-accessibility/
.sr-only {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  clip-path: polygon(0 0, 0 0, 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.clear {
  clear: both;
}

.hide-on-small {
  @media screen and (max-width: tokens.$size-breakpoint-md) {
    display: none;
  }
}

.error,
.danger {
  color: var(--color-status-danger);
}

.user-name {
  @include mixins.breakword();
}

.avatar--img {
  display: block;
  max-width: none;
  object-fit: cover;
}

.caret {
  border: 0.5em solid transparent;
  border-top-color: currentColor;
  border-width: 0.5em 0.433em 0;
  display: inline-block;
  position: relative;
  top: -0.1em;
  transform-origin: center 40%;
  transition: transform 0.25s ease;

  .is-active & {
    transform: rotate(180deg);
  }
}

// Styleguide
.panel--example {
  margin: 0.25em 0 1em;
}
