//
// Typography
//
// Note: only typography for base HTML elements should live here.
// Component-specific typography should live in the component's stylesheet.
//
html {
  font-family: var(--font-family-system);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing);
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
.u-display {
  font-size: 3rem;
  letter-spacing: -1px;

  @media screen and (min-width: 768px) {
    font-size: 3.75rem;
  }
}

// Using a custom property so bold can be lighter weight in dark mode.
b,
strong,
label,
legend,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

pre,
code,
.code {
  font-family: var(--font-family-mono);
}

pre {
  overflow-x: auto;
  width: 100%;
}
