//
// Variables
// Note that many variables should live as design tokens instead
//
@use "../design-tokens/colors.yml";

//
// New and improved system font stack:
//
// see: https://markdotto.com/2018/02/07/github-system-fonts/
//
// stylelint-disable value-keyword-case, scss/dollar-variable-colon-newline-after
$font-family-system: -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica,
  arial, sans-serif;
$font-family-mono: sfmono-regular, consolas, liberation mono, menlo, monospace;

:root {
  --color-page-bg: var(--color-page-bg-light);
  --color-page-text: var(--color-text-dark);
  --color-text-link: var(--color-secondary-brand);
  --color-text-link-hover: var(--color-secondary-brand-dark);
  --color-link-underline: #{rgba(colors.$color-secondary-brand, 0.33)};
  --color-link-underline-hover: #{rgba(colors.$color-secondary-brand, 0.33)};
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --letter-spacing: normal;

  // dark mode
  @media screen and (prefers-color-scheme: dark) {
    --color-page-bg: var(--color-page-bg-dark);
    --color-page-text: var(--color-text-light);
    --font-weight-normal: 300;
    --font-weight-bold: 600;
    --letter-spacing: 0.025em;
  }
}
