.page {
  padding: 0 0.5em;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
}

// I hate this. We spend more time overriding it. Needs to be refactored away. -SV
.content-narrow p {
  font-size: 1.625rem;
  line-height: 2.5;
  margin: 2em 0;
}

.content-narrow .extra-info p {
  color: var(--color-text-dark-secondary);
  font-size: 1rem;
  line-height: 1.4;
}
